<!-- <ng-container>
  <p class="error-message" *ngIf="control.errors?.required && control.touched">
    <svg  width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_4271_15936)">
        <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#EC2C38" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8 5.33333V8" stroke="#EC2C38" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8 10.6667H8.00667" stroke="#EC2C38" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
        <clipPath id="clip0_4271_15936"><rect width="16" height="16" fill="white"/></clipPath>
      </defs>
    </svg>
    <span *ngIf="control.errors?.required">Este campo es obligatorio</span>
    <span *ngIf="control.errors?.minlength">Este campo tiene que tener minimo {{control.errors.minlength}}</span>  
  </p>
</ng-container>

<ng-container>
  <p class="error-message" *ngIf="control.errors?.required && control.touched">
    <span *ngIf="control.errors?.required">Este campo es obligatorio</span>
    <span *ngIf="control.errors?.minlength">Este campo tiene que tener minimo {{control.errors.minlength}}</span>  
  </p>
</ng-container>


<form [formGroup]="myForm" novalidate>
  <div class="form-group">
    <label class="center-block">Username:
      <input class="form-control" formControlName="username">
    </label>
  </div>
  <div *ngIf="myForm.controls['username'].invalid && (myForm.controls['username'].dirty || myForm.controls['username'].touched)" class="alert">
      <div *ngIf="myForm.controls['username'].errors.required">
      Please enter username
    </div>
  </div>
</form> -->