<section class="use">
  <section class="containerUse">
    <h1>Casos de uso</h1>
    <div class="row">
        <div class="column c1">
            <img src="assets/accesos.png" alt="Accesos"> 
          </div>
          <div class="column c1">
            <img src="assets/rh.png" alt="RH">
          </div>
          <div class="column c1">
            <img src="assets/expedientes.png" alt="Expedientes">
          </div>
          <div class="column c1">
            <img src="assets/ventas.png" alt="Ventas">
          </div>
    </div>
    <div class="row">
        <div class="column c1">
          <p>Accesos</p>
        </div>
        <div class="column c1">
          <p>RH</p>
        </div>
        <div class="column c1">
          <p>Expedientes</p>
        </div>
        <div class="column c1">
          <p>Ventas</p>
        </div>
    </div>
  </section>
  <!--Versiín móvil-->
  <section class="useMobile">
      <h1>Casos de uso</h1>
      <div class="row">
          <div class="column c1">
              <img src="assets/accesos.png" alt="Accesos"> 
              <p>Accesos</p>
            </div>
            <div class="column c1">
              <img src="assets/rh.png" alt="RH">
              <p>RH</p>
            </div>
      </div>
      <div class="row">
            <div class="column c1">
              <img src="assets/expedientes.png" alt="Expedientes">
              <p>Expedientes</p>
            </div>
            <div class="column c1">
              <img src="assets/ventas.png" alt="Ventas">
              <p>Ventas</p>
            </div>
      </div>
    </section>
</section>
