<section class="use">
  <section class="containerUse">
    <h1>{{ 'use.titleUse' | translate }}</h1>
    <div class="row">
        <div class="column c1">
            <img src="assets/accesos.png" alt="Accesos"> 
          </div>
          <div class="column c1">
            <img src="assets/rh.png" alt="RH">
          </div>
          <div class="column c1">
            <img src="assets/expedientes.png" alt="Expedientes">
          </div>
          <div class="column c1">
            <img src="assets/ventas.png" alt="Ventas">
          </div>
    </div>
    <div class="row">
        <div class="column c1">
          <p>{{ 'use.access' | translate }}</p>
        </div>
        <div class="column c1">
          <p>{{ 'use.human' | translate }}</p>
        </div>
        <div class="column c1">
          <p>{{ 'use.records' | translate }}</p>
        </div>
        <div class="column c1">
          <p>{{ 'use.sales' | translate }}</p>
        </div>
    </div>
  </section>
  <!--Versiín móvil-->
  <section class="useMobile">
      <h1>{{ 'use.titleUse' | translate }}</h1>
      <div class="row">
          <div class="column c1">
              <img src="assets/accesos.png" alt="Accesos"> 
              <p>{{ 'use.access' | translate }}</p>
            </div>
            <div class="column c1">
              <img src="assets/rh.png" alt="RH">
              <p>{{ 'use.human' | translate }}</p>
            </div>
      </div>
      <div class="row">
            <div class="column c1">
              <img src="assets/expedientes.png" alt="Expedientes">
              <p>{{ 'use.records' | translate }}</p>
            </div>
            <div class="column c1">
              <img src="assets/ventas.png" alt="Ventas">
              <p>{{ 'use.sales' | translate }}</p>
            </div>
      </div>
    </section>
</section>
