<div data-rsssl="1" class="page-template page-template-elementor_canvas page page-id-514 wp-embed-responsive et_divi_builder right-sidebar nav-float-right separate-containers header-aligned-left dropdown-hover et-pb-theme-generatepress et-db elementor-default elementor-template-canvas elementor-kit-5 chrome using-mouse" style="overflow-x: hidden;">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
    <defs>
      <filter id="wp-duotone-dark-grayscale">
        <fecolormatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></fecolormatrix>
        <fecomponenttransfer color-interpolation-filters="sRGB">
          <fefuncr type="table" tableValues="0 0.49803921568627"></fefuncr>
          <fefuncg type="table" tableValues="0 0.49803921568627"></fefuncg>
          <fefuncb type="table" tableValues="0 0.49803921568627"></fefuncb>
          <fefunca type="table" tableValues="1 1"></fefunca>
        </fecomponenttransfer>
        <fecomposite in2="SourceGraphic" operator="in"></fecomposite>
      </filter>
    </defs>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
    <defs>
      <filter id="wp-duotone-grayscale">
        <fecolormatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></fecolormatrix>
        <fecomponenttransfer color-interpolation-filters="sRGB">
          <fefuncr type="table" tableValues="0 1"></fefuncr>
          <fefuncg type="table" tableValues="0 1"></fefuncg>
          <fefuncb type="table" tableValues="0 1"></fefuncb>
          <fefunca type="table" tableValues="1 1"></fefunca>
        </fecomponenttransfer>
        <fecomposite in2="SourceGraphic" operator="in"></fecomposite>
      </filter>
    </defs>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
    <defs>
      <filter id="wp-duotone-purple-yellow">
        <fecolormatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></fecolormatrix>
        <fecomponenttransfer color-interpolation-filters="sRGB">
          <fefuncr type="table" tableValues="0.54901960784314 0.98823529411765"></fefuncr>
          <fefuncg type="table" tableValues="0 1"></fefuncg>
          <fefuncb type="table" tableValues="0.71764705882353 0.25490196078431"></fefuncb>
          <fefunca type="table" tableValues="1 1"></fefunca>
        </fecomponenttransfer>
        <fecomposite in2="SourceGraphic" operator="in"></fecomposite>
      </filter>
    </defs>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
    <defs>
      <filter id="wp-duotone-blue-red">
        <fecolormatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></fecolormatrix>
        <fecomponenttransfer color-interpolation-filters="sRGB">
          <fefuncr type="table" tableValues="0 1"></fefuncr>
          <fefuncg type="table" tableValues="0 0.27843137254902"></fefuncg>
          <fefuncb type="table" tableValues="0.5921568627451 0.27843137254902"></fefuncb>
          <fefunca type="table" tableValues="1 1"></fefunca>
        </fecomponenttransfer>
        <fecomposite in2="SourceGraphic" operator="in"></fecomposite>
      </filter>
    </defs>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
    <defs>
      <filter id="wp-duotone-midnight">
        <fecolormatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></fecolormatrix>
        <fecomponenttransfer color-interpolation-filters="sRGB">
          <fefuncr type="table" tableValues="0 0"></fefuncr>
          <fefuncg type="table" tableValues="0 0.64705882352941"></fefuncg>
          <fefuncb type="table" tableValues="0 1"></fefuncb>
          <fefunca type="table" tableValues="1 1"></fefunca>
        </fecomponenttransfer>
        <fecomposite in2="SourceGraphic" operator="in"></fecomposite>
      </filter>
    </defs>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
    <defs>
      <filter id="wp-duotone-magenta-yellow">
        <fecolormatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></fecolormatrix>
        <fecomponenttransfer color-interpolation-filters="sRGB">
          <fefuncr type="table" tableValues="0.78039215686275 1"></fefuncr>
          <fefuncg type="table" tableValues="0 0.94901960784314"></fefuncg>
          <fefuncb type="table" tableValues="0.35294117647059 0.47058823529412"></fefuncb>
          <fefunca type="table" tableValues="1 1"></fefunca>
        </fecomponenttransfer>
        <fecomposite in2="SourceGraphic" operator="in"></fecomposite>
      </filter>
    </defs>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
    <defs>
      <filter id="wp-duotone-purple-green">
        <fecolormatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></fecolormatrix>
        <fecomponenttransfer color-interpolation-filters="sRGB">
          <fefuncr type="table" tableValues="0.65098039215686 0.40392156862745"></fefuncr>
          <fefuncg type="table" tableValues="0 1"></fefuncg>
          <fefuncb type="table" tableValues="0.44705882352941 0.4"></fefuncb>
          <fefunca type="table" tableValues="1 1"></fefunca>
        </fecomponenttransfer>
        <fecomposite in2="SourceGraphic" operator="in"></fecomposite>
      </filter>
    </defs>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
    <defs>
      <filter id="wp-duotone-blue-orange">
        <fecolormatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></fecolormatrix>
        <fecomponenttransfer color-interpolation-filters="sRGB">
          <fefuncr type="table" tableValues="0.098039215686275 1"></fefuncr>
          <fefuncg type="table" tableValues="0 0.66274509803922"></fefuncg>
          <fefuncb type="table" tableValues="0.84705882352941 0.41960784313725"></fefuncb>
          <fefunca type="table" tableValues="1 1"></fefunca>
        </fecomponenttransfer>
        <fecomposite in2="SourceGraphic" operator="in"></fecomposite>
      </filter>
    </defs>
  </svg>
  <div id="et-boc" class="et-boc">
    <div id="et_builder_outer_content" class="et_builder_outer_content">
      <div class="et-l et-l--post">
        <div class="et_builder_inner_content et_pb_gutters3">
          <div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular et_section_transparent">
            <div class="et_pb_row et_pb_row_0">
              <div class="et_pb_column et_pb_column_2_3 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
                <div class="et_pb_module et_pb_text et_pb_text_0 et_pb_text_align_left et_pb_bg_layout_light et_had_animation">
                  <div class="et_pb_text_inner">
                    <h4>0% DE INTERÉS A 36 MESES</h4>
                  </div>
                </div>
                <div class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_left et_pb_bg_layout_light et_had_animation">
                  <div class="et_pb_text_inner">
                    <h1>Compra tu Carro Perfecto</h1>
                  </div>
                </div>
                <div class="et_pb_module et_pb_text et_pb_text_2 et_pb_text_align_left et_pb_bg_layout_light et_had_animation">
                  <div class="et_pb_text_inner">
                    <p>Cotiza el carro de tus sueños con nuestro servicio de financiamiento para vehículos nuevos y usados.</p>
                  </div>
                </div>
                <div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
                  <a 
                    class="et_pb_button et_pb_button_0 et_pb_bg_layout_dark" 
                    id="Maat-authenticate" onclick="maatAuthenticate()">
                    COTIZA TU CRÉDITO
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg></span>
                  </a>
                </div>
              </div>
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty"></div>
            </div>
          </div>

          <div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular et_section_transparent section_has_divider et_pb_bottom_divider">
            <div class="et_pb_row et_pb_row_1 et_pb_row_fullwidth">
              <div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_dark">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                      <span class="et_pb_image_wrap">
                        <span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(255,255,255,0.5)" style="height: 64px;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                          </svg>                          
                        </span>
                      </span>
                    </div>
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>Vehículos usados</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>Descubre nuestra amplia selección de carros usados de alta calidad.&nbsp; Obtén un crédito flexible para hacer realidad el sueño de tener un auto usado en excelentes condiciones</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module et_had_animation">
                  <a class="et_pb_button et_pb_button_1 et_pb_bg_layout_light" href="https://maatai.com/demo/carros">Ver Usados
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg></span>
                  </a>
                </div>
              </div>
              <div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_dark">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                      <span class="et_pb_image_wrap">
                        <span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(255,255,255,0.5)" style="height: 64px;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
                          </svg>                          
                        </span>
                      </span>
                    </div>
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>vehículos nuevos</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>Explora nuestra emocionante gama de carros nuevos. Desde vehículos elegantes y eficientes hasta opciones familiares y versátiles, Obtén un crédito competitivo y conveniente..</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_center et_pb_module et_had_animation">
                  <a class="et_pb_button et_pb_button_2 et_pb_bg_layout_light" href="https://www.blog.maatai.com/" >Comprar Nuevos
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="et_pb_bottom_inside_divider"></div>
          </div>
          <div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular et_section_transparent section_has_divider et_pb_bottom_divider">
            <div class="et_pb_row et_pb_row_2">
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>Tasa competitivas</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>Obtén créditos con tasas de interés atractivas.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>Proceso ágil y sencillo</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>
                          <span>Solicita tu crédito de manera rápida y sin complicaciones.</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>Prueba de manejo</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>
                          <span>Descubre como se siente conducir tu próximo vehículo.</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="et_pb_bottom_inside_divider"></div>
          </div>
          <div class="et_pb_section et_pb_section_3 et_section_regular et_section_transparent">
            <div id="usados" class="et_pb_row et_pb_row_3">
              <div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_center et_pb_bg_layout_light">
                  <div class="et_pb_text_inner">
                    <h2>Carros usados</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="et_pb_row et_pb_row_4 et_pb_row_fullwidth">
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                      <span class="et_pb_image_wrap et_pb_only_image_mode_wrap">
                        <img decoding="async" width="800" height="500" src="./car-dealer_files/car-dealer-33.jpg" alt="" srcset="https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-33.jpg 800w, https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-33-300x188.jpg 300w, https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-33-768x480.jpg 768w, https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-33-400x250.jpg 400w" sizes="(max-width: 800px) 100vw, 800px" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-517 et-animated">
                      </span>
                    </div>
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>2018 Divi Lead - New</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>$34,000</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item  et_pb_text_align_left et_pb_toggle_close">
                  <h5 class="et_pb_toggle_title dropdown">Detalles
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </span>
                  </h5>
                  <div class="et_pb_toggle_content clearfix">
                    <ul>
                      <li>Característica 1</li>
                      <li>Característica 2</li>
                      <li>Característica 3</li>
                      <li>Característica 4</li>
                    </ul>
                  </div>
                </div>
                <div class="et_pb_button_module_wrapper et_pb_button_3_wrapper et_pb_button_alignment_center et_pb_module ">
                  <a class="et_pb_button et_pb_button_3 et_pb_bg_layout_light" href="https://www.blog.maatai.com/">Cómpralo a crédito</a>
                </div>
              </div>
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                      <span class="et_pb_image_wrap et_pb_only_image_mode_wrap">
                        <img decoding="async" width="800" height="500" src="./car-dealer_files/car-dealer-32.jpg" alt="" srcset="https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-32.jpg 800w, https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-32-300x188.jpg 300w, https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-32-768x480.jpg 768w, https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-32-400x250.jpg 400w" sizes="(max-width: 800px) 100vw, 800px" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-518 et-animated">
                      </span>
                    </div>
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>2017 Monarch - Used</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>$19,300</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="et_pb_module et_pb_toggle et_pb_toggle_1 et_pb_toggle_item  et_pb_text_align_left et_pb_toggle_close">
                  <h5 class="et_pb_toggle_title">Detalles
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </span>
                  </h5>
                  <div class="et_pb_toggle_content clearfix">
                    <ul>
                      <li>Característica 1</li>
                      <li>Característica 2</li>
                      <li>Característica 3</li>
                      <li>Característica 4</li>
                    </ul>
                  </div>
                </div>
                <div class="et_pb_button_module_wrapper et_pb_button_4_wrapper et_pb_button_alignment_center et_pb_module ">
                  <a class="et_pb_button et_pb_button_4 et_pb_bg_layout_light" href="https://www.blog.maatai.com/">Cómpralo a crédito</a>
                </div>
              </div>
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_7  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                      <span class="et_pb_image_wrap et_pb_only_image_mode_wrap">
                        <img decoding="async" width="800" height="500" src="./car-dealer_files/car-dealer-31.jpg" alt="" srcset="https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-31.jpg 800w, https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-31-300x188.jpg 300w, https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-31-768x480.jpg 768w, https://www.maximo.marketing/wp-content/uploads/2023/05/car-dealer-31-400x250.jpg 400w" sizes="(max-width: 800px) 100vw, 800px" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-519 et-animated">
                      </span>
                    </div>
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>2019 Nexus - New</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>$26,500</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="et_pb_module et_pb_toggle et_pb_toggle_2 et_pb_toggle_item  et_pb_text_align_left et_pb_toggle_close">
                  <h5 class="et_pb_toggle_title">Detalles
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </span>
                  </h5>
                  <div class="et_pb_toggle_content clearfix">
                    <ul>
                      <li>Característica 1</li>
                      <li>Característica 2</li>
                      <li>Característica 3</li>
                      <li>Característica 4</li>
                    </ul>
                  </div>
                </div>
                <div class="et_pb_button_module_wrapper et_pb_button_5_wrapper et_pb_button_alignment_center et_pb_module ">
                  <a class="et_pb_button et_pb_button_5 et_pb_bg_layout_light" href="https://www.blog.maatai.com/">Cómpralo a crédito</a>
                </div>
              </div>
            </div>
            <div class="et_pb_row et_pb_row_5">
              <div class="et_pb_column et_pb_column_4_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div class="et_pb_button_module_wrapper et_pb_button_6_wrapper et_pb_button_alignment_center et_pb_module ">
                  <a class="et_pb_button et_pb_button_6 et_pb_bg_layout_dark" href="https://www.blog.maatai.com/">
                    Ver más modelos
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="et_pb_section et_pb_section_4 et_section_regular et_section_transparent">
            <div id="nuevos" class="et_pb_row et_pb_row_6">
              <div class="et_pb_column et_pb_column_4_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_center et_pb_bg_layout_light">
                  <div class="et_pb_text_inner">
                    <h2>Carros nuevos</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="et_pb_row et_pb_row_7 et_pb_row_fullwidth">
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_8  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                      <span class="et_pb_image_wrap et_pb_only_image_mode_wrap">
                        <img decoding="async" width="800" height="500" src="./car-dealer_files/3.png" alt="" srcset="https://www.maximo.marketing/wp-content/uploads/2023/05/3.png 800w, https://www.maximo.marketing/wp-content/uploads/2023/05/3-300x188.png 300w, https://www.maximo.marketing/wp-content/uploads/2023/05/3-768x480.png 768w, https://www.maximo.marketing/wp-content/uploads/2023/05/3-400x250.png 400w" sizes="(max-width: 800px) 100vw, 800px" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-540 et-animated">
                      </span>
                    </div>
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>2018 Divi Lead - New</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>$34,000</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="et_pb_module et_pb_toggle et_pb_toggle_3 et_pb_toggle_item  et_pb_text_align_left et_pb_toggle_close">
                  <h5 class="et_pb_toggle_title">Detalles
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </span>
                  </h5>
                  <div class="et_pb_toggle_content clearfix">
                    <ul>
                      <li>Característica 1</li>
                      <li>Característica 2</li>
                      <li>Característica 3</li>
                      <li>Característica 4</li>
                    </ul>
                  </div>
                </div>
                <div class="et_pb_button_module_wrapper et_pb_button_7_wrapper et_pb_button_alignment_center et_pb_module ">
                  <a class="et_pb_button et_pb_button_7 et_pb_bg_layout_light" href="https://www.blog.maatai.com/">Cómpralo a crédito</a>
                </div>
              </div>
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_9  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                      <span class="et_pb_image_wrap et_pb_only_image_mode_wrap">
                        <img decoding="async" loading="lazy" width="800" height="500" src="./car-dealer_files/2.png" alt="" srcset="https://www.maximo.marketing/wp-content/uploads/2023/05/2.png 800w, https://www.maximo.marketing/wp-content/uploads/2023/05/2-300x188.png 300w, https://www.maximo.marketing/wp-content/uploads/2023/05/2-768x480.png 768w, https://www.maximo.marketing/wp-content/uploads/2023/05/2-400x250.png 400w" sizes="(max-width: 800px) 100vw, 800px" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-539 et-animated">
                      </span>
                    </div>
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>2017 Monarch - Used</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>$19,300</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="et_pb_module et_pb_toggle et_pb_toggle_4 et_pb_toggle_item  et_pb_text_align_left et_pb_toggle_close">
                  <h5 class="et_pb_toggle_title">Detalles
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </span>
                  </h5>
                  <div class="et_pb_toggle_content clearfix">
                    <ul>
                      <li>Característica 1</li>
                      <li>Característica 2</li>
                      <li>Característica 3</li>
                      <li>Característica 4</li>
                    </ul>
                  </div>
                </div>
                <div class="et_pb_button_module_wrapper et_pb_button_8_wrapper et_pb_button_alignment_center et_pb_module ">
                  <a class="et_pb_button et_pb_button_8 et_pb_bg_layout_light" href="https://www.blog.maatai.com/">Cómpralo a crédito</a>
                </div>
              </div>
              <div class="et_pb_column et_pb_column_1_3 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div class="et_pb_module et_pb_blurb et_pb_blurb_10  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
                  <div class="et_pb_blurb_content">
                    <div class="et_pb_main_blurb_image">
                      <span class="et_pb_image_wrap et_pb_only_image_mode_wrap">
                        <img decoding="async" loading="lazy" width="800" height="500" src="./car-dealer_files/1.png" alt="" srcset="https://www.maximo.marketing/wp-content/uploads/2023/05/1.png 800w, https://www.maximo.marketing/wp-content/uploads/2023/05/1-300x188.png 300w, https://www.maximo.marketing/wp-content/uploads/2023/05/1-768x480.png 768w, https://www.maximo.marketing/wp-content/uploads/2023/05/1-400x250.png 400w" sizes="(max-width: 800px) 100vw, 800px" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-538 et-animated">
                      </span>
                    </div>
                    <div class="et_pb_blurb_container">
                      <h4 class="et_pb_module_header">
                        <span>2019 Nexus - New</span>
                      </h4>
                      <div class="et_pb_blurb_description">
                        <p>$26,500</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="et_pb_module et_pb_toggle et_pb_toggle_5 et_pb_toggle_item  et_pb_text_align_left et_pb_toggle_close">
                  <h5 class="et_pb_toggle_title">Detalles
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </span>
                  </h5>
                  <div class="et_pb_toggle_content clearfix">
                    <ul>
                      <li>Característica 1</li>
                      <li>Característica 2</li>
                      <li>Característica 3</li>
                      <li>Característica 4</li>
                    </ul>
                  </div>
                </div>
                <div class="et_pb_button_module_wrapper et_pb_button_9_wrapper et_pb_button_alignment_center et_pb_module ">
                  <a class="et_pb_button et_pb_button_9 et_pb_bg_layout_light" href="https://www.blog.maatai.com/">Cómpralo a crédito</a>
                </div>
              </div>
            </div>
            <div class="et_pb_row et_pb_row_8">
              <div class="et_pb_column et_pb_column_4_4 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough et-last-child">
                <div class="et_pb_button_module_wrapper et_pb_button_10_wrapper et_pb_button_alignment_center et_pb_module ">
                  <a class="et_pb_button et_pb_button_10 et_pb_bg_layout_dark" href="https://www.blog.maatai.com/" >Ver más modelos
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="et_pb_section et_pb_section_5 et_pb_specialty_fullwidth et_pb_equal_columns et_pb_with_background et_section_specialty et_section_transparent section_has_divider et_pb_bottom_divider et_had_animation">
            <div class="et_pb_row et_pb_gutters1">
              <div class="et_pb_column et_pb_column_1_2 et_pb_column_17   et_pb_specialty_column  et_pb_css_mix_blend_mode_passthrough">
                <div class="et_pb_row_inner et_pb_row_inner_0">
                  <div class="et_pb_column et_pb_column_4_4 et_pb_column_inner et_pb_column_inner_0 et-last-child">
                    <div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_dark">
                      <div class="et_pb_text_inner">
                        <h2>Contáctanos</h2>
                      </div>
                    </div>
                    <div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_dark">
                      <div class="et_pb_text_inner">
                        <p>(888) 123-4562</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="et_pb_row_inner et_pb_row_inner_1 et_pb_gutters2 et_pb_row_1-4_1-4">
                  <div class="et_pb_column et_pb_column_1_4 et_pb_column_inner et_pb_column_inner_1">
                    <div class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_left et_pb_bg_layout_dark">
                      <div class="et_pb_text_inner">
                        <h4>Dirección</h4>
                        <p>2345 Divi St <br>San Francisco, CA 94222 </p>
                      </div>
                    </div>
                    <div class="et_pb_module et_pb_text et_pb_text_8  et_pb_text_align_left et_pb_bg_layout_dark">
                      <div class="et_pb_text_inner">
                        <h4>Email</h4>
                        <p>info@diviauto.com</p>
                      </div>
                    </div>
                  </div>
                  <div class="et_pb_column et_pb_column_1_4 et_pb_column_inner et_pb_column_inner_2 et-last-child">
                    <div class="et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_left et_pb_bg_layout_dark">
                      <div class="et_pb_text_inner">
                        <h4>Horario:</h4>
                        <p>Mon:10am – 5pm <br>Tue: 10am – 5pm <br>Wed: Closed <br>Thur: 10am – 5pm <br>Fri: 10am – 3pm <br>Sat: 10am – 3pm <br>Sun: Closed </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="et_pb_column et_pb_column_1_2 et_pb_column_18 et_pb_css_mix_blend_mode_passthrough et_pb_column_single">
                <div id="et_pb_contact_form_0" class="et_pb_module et_pb_contact_form_0 et_pb_contact_form_container clearfix" data-form_unique_num="0" data-form_unique_id="">
                  <h1 class="et_pb_contact_main_title">Envíanos un Mensaje</h1>
                  <div class="et-pb-contact-message">
                    <p>Por favor, rellene los siguientes campos:</p>
                    <ul>
                      <li>Nombre</li>
                      <li>Email Address</li>
                      <li>Mensaje</li>
                    </ul>
                    <ul></ul>
                  </div>
                  <div class="et_pb_contact">
                    <form class="et_pb_contact_form clearfix" method="post" action="https://www.blog.maatai.com/">
                      <p class="et_pb_contact_field et_pb_contact_field_0 et_pb_contact_field_last" data-id="nombre" data-type="input">
                        <label for="et_pb_contact_nombre_0" class="et_pb_contact_form_label">Nombre</label>
                        <input type="text" id="et_pb_contact_nombre_0" class="input et_contact_error" value="" name="et_pb_contact_nombre_0" data-required_mark="required" data-field_type="input" data-original_id="nombre" placeholder="Nombre">
                      </p>
                      <p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_last" data-id="email" data-type="email">
                        <label for="et_pb_contact_email_0" class="et_pb_contact_form_label">Email Address</label>
                        <input type="text" id="et_pb_contact_email_0" class="input et_contact_error" value="" name="et_pb_contact_email_0" data-required_mark="required" data-field_type="email" data-original_id="email" placeholder="Email Address">
                      </p>
                      <p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_last" data-id="mensaje" data-type="text">
                        <label for="et_pb_contact_mensaje_0" class="et_pb_contact_form_label">Mensaje</label>
                        <textarea name="et_pb_contact_mensaje_0" id="et_pb_contact_mensaje_0" class="et_pb_contact_message input et_contact_error" data-required_mark="required" data-field_type="text" data-original_id="mensaje" placeholder="Mensaje"></textarea>
                      </p>
                      <input type="hidden" value="et_contact_proccess" name="et_pb_contactform_submit_0">
                      <div class="et_contact_bottom_container">
                        <button type="submit" name="et_builder_submit_button" class="et_pb_contact_submit et_pb_button" data-icon="$">Enviar Mensaje
                          <span><svg xmlns="http://www.w3.org/2000/svg" fill="#c10f1b" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c10f1b" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                          </svg></span>
                        </button>
                      </div>
                      <input type="hidden" id="_wpnonce-et-pb-contact-form-submitted-0" name="_wpnonce-et-pb-contact-form-submitted-0" value="4bd9ff9d1e">
                      <input type="hidden" name="_wp_http_referer" value="/car-loan/">
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="et_pb_bottom_inside_divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>