<section class="products">
  <section class="containerProducts">
      <h1>{{ 'products.titleProducts' | translate }}</h1>
    <div class="row">
        <div class="column c1">
            <img src="assets/reconocimiento.png" alt="Reconocimiento" class="imgRec"> 
          </div>
          <div class="column c1">
            <img src="assets/certificacion.png" alt="Certificación" class="imgCertification">
          </div>
          <div class="column c1">
            <img src="assets/blockchain.png" alt="Blockchain" class="imgBlockchain">
          </div>
          <div class="column c1">
            <img src="assets/listanegra.png" alt="Revisión" class="imgList">
          </div>
    </div>
    <div class="row">
        <div class="column c1">
          <p>{{ 'products.facial' | translate }}</p>
        </div>
        <div class="column c1">
          <p>{{ 'products.document' | translate }}</p>
        </div>
        <div class="column c1">
          <p>Blockchain</p>
        </div>
        <div class="column c1">
          <p>{{ 'products.list' | translate }}</p>
        </div>
    </div>
  </section>
  <!--Versión móvil-->
  <section class="productsMobile">
      <h1>{{ 'products.titleProducts' | translate }}</h1>
    <div class="row">
        <div class="column c1">
            <img src="assets/reconocimiento.png" alt="Reconocimiento" class="imgRec"> 
            <p>{{ 'products.facial' | translate }}</p>
          </div>
          <div class="column c1">
            <img src="assets/certificacion.png" alt="Certificación" class="imgCertification">
            <p>{{ 'products.document' | translate }}</p>
          </div>
    </div>
    <div class="row">
          <div class="column c1">
            <img src="assets/blockchain.png" alt="Blockchain" class="imgBlockchain">
            <p>Blockchain</p>
          </div>
          <div class="column c1">
            <img src="assets/listanegra.png" alt="Revisión" class="imgList">
            <p>{{ 'products.list' | translate }}</p>
          </div>
    </div>
  </section>
</section>
