<section class="example_app">
  <div id="imgEs" *ngIf="language.visibleDivEs">
    <img src="assets/mobile1.png" alt="" class="img1" style="margin-right: -20px;">
    <img src="assets/mobile2.png" alt="" class="img2" style="margin-right: -20px;">
    <img src="assets/mobile3.png" alt="" class="img3">
    <img src="assets/mobile4.png" alt="" class="img4" style="margin-left: -20px;">
    <img src="assets/mobile5.png" alt="" class="img5" style="margin-left: -20px;">
  </div>
  <div id="imgEn" *ngIf="language.visibleDivEn">
      <img src="assets/mobile1_en.png" alt="" class="img1" style="margin-right: -20px;">
      <img src="assets/mobile2_en.png" alt="" class="img2" style="margin-right: -20px;">
      <img src="assets/mobile3_en.png" alt="" class="img3">
      <img src="assets/mobile4_en.png" alt="" class="img4" style="margin-left: -20px;">
      <img src="assets/mobile5_en.png" alt="" class="img5" style="margin-left: -20px;">
    </div>
</section>
