.example_app {
    max-width: 1000px;
    margin: 3em auto;
    align-items: center;
    text-align: center;
    height: 380px;
    margin-bottom: 0% !important;
}
#imgEs {
  display: none;
}
#imgEn {
  display: none;
}
.img1 {
  width: 18%;
  height: auto;
  animation-duration: 3s;
  animation-name: first;
  position: relative;
  z-index: -1;
}
.img2 {
  width: 20%;
  height: auto;
  animation-duration: 2s;
  animation-name: second;
  position: relative;
  z-index: -1;
}
.img3 {
  width: 20%;
  height: auto;
  animation: center 2s;
  position: sticky;
  z-index: 1;
}
.img4 {
  width: 20%;
  height: auto;
  animation-duration: 2s;
  animation-name: four;
  position: relative;
  z-index: -1;
}
.img5 {
  width: 18%;
  height: auto;
  animation-duration: 3s;
  animation-name: five;
  position: relative;
  z-index: -2;
}

@keyframes center {
  0% {
    padding-left: 0px;
  }

  100% {
    padding-left: 0px;
  }
}
@keyframes four {
  0% {
    margin-left: -150px;
  }

  100% {
    margin-left: -20px;
  }
}
@keyframes first {
  0% {
    margin-right: -210px;
  }

  100% {
    margin-right: -20px;
  }
}
@keyframes second {
  0% {
    margin-right: -150px;
  }

  100% {
    margin-right: -20px;
  }
}
@keyframes five {
  0% {
    margin-left: -210px;
  }

  100% {
    margin-left: -20px;
  }
}
@media only screen and (max-width: 330px){
  .example_app {
    max-height: 240px !important;
    margin-top: 2em;
  }
  .img1, .img2, .img3, .img4, .img5 {
    animation: none;
  }
  .img3 {
    height: 200px !important;
    width: auto;
  }
  .img1, .img5 {
    height: 180px !important;
    width: auto;
  }
  .img2, .img4 {
    display: none;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example_app {
    max-height: 300px;
    margin-top: 2em;
  }
  .img1, .img2, .img3, .img4, .img5 {
    animation: none;
  }
  .img3 {
    height: 250px;
    width: auto;
  }
  .img1, .img5 {
    height: 230px;
    width: auto;
  }
  .img2, .img4 {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
