body { padding-right: 0 !important }
.welcome {
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("../../../assets/cubos.png");
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 90% 65%;
    position: relative;
    max-width: 100%;
    height: 540px;
    max-width: 100%;
}
.containerWelcome {
    max-width: 1000px;
    margin: 0 auto;
    color: #2B3C5A;
    align-items: center;
    text-align: center;
}

h1 {
    margin-top: .7em;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

p {
    margin: 1em 10em;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.btnContact {
    background-color: #F86F60;
    border: #F86F60;
    border-radius: 6px;
    color: #FAF9F9;
    padding: 6px 15px; 
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 12em;
    height: 2.4em;
    margin-top: 1em;
}

/*Modal*/
.modal-content {
    border: 2px solid #FE3618 !important;
    text-align: center;
    max-width: 720px; 
}
.close{
    text-align: left !important;
    margin-left: 15px !important;
    margin-top: 15px !important;
}

h5{
    color: #263069;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
}

.txtModal{
    color: #263069;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}
.input-lg {
    width: 80%;
    height: 40px;
    border: 1px solid #FE3618;
    border-radius: 6px;
    align-items: center;
}

.comments {
    border-bottom: 1px solid #FE3618 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0% !important;
}

.btn-lg {
    width: 12em !important;
    background-color: #FE3618 !important;
    color: white !important;
    border: none;
    margin: 1.5em 0;
}
.btnSuscript {
    align-items: center;
    text-align: center;
    display: block;
}
.btnMobile {
    display: none;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .welcome {
        background-image: url("../../../assets/cubos.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 90% 25%;
        position: relative;
        max-width: 100%;
        height: auto;
        padding: 0 1em;
    }
    h5 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
        padding: 1em 0;
        margin: 0%;
    }
    .imgWelcome {
        width: 80%;
    }
    .modal-content {
        padding: 1em;
    }
    .btnSuscript {
        display: none;
    }
    .btnMobile {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}