<app-navbar></app-navbar>
<section class="welcome">
  <section class="containerWelcome">
      <h1>{{ 'welcome.titleWelcome' | translate }}</h1>
      <p>{{ 'welcome.textWelcome' | translate }}</p>
      <a href="http://eepurl.com/dHGFpf" target="_blank">
        <button class="btn btn-primary btnContact" type="button">{{ 'welcome.btnContact' | translate }}</button>
      </a>
      <img src="assets/block.png" alt="Saludo" class="imgWelcome">
  </section>
</section>
<app-video2></app-video2>
<app-trust></app-trust>
<app-certifications2></app-certifications2>
<app-footer2></app-footer2>
