<section class="footer">
  <div class="row">
      <div class="column c1">
        <a href="https://www.facebook.com/maataimx/" target="_blank">
          <img src="assets/facebook.png" alt="Facebook" class="redes">
        </a>
      </div>
      <div class="column c1">
        <a href="https://www.instagram.com/maat_ai/?hl=es-la" target="_blank">
          <img src="assets/instagram.png" alt="Instagram" class="redes">
        </a>
      </div>
      <div class="column c1">
        <a href="https://twitter.com/maat_ai" target="_blank">
          <img src="assets/twitter.png" alt="Twitter" class="redes chm">
        </a>
      </div>
      <div class="column c1">
        <a href="https://www.youtube.com/channel/UC3r9nI5x0_Wc-1aHrHxXc_g?pbjreload=10" target="_blank">
          <img src="assets/youtube.png" alt="Youtube" class="redes">
        </a>
      </div>
      <div class="column c1">
        <a href="https://api.whatsapp.com/send?phone=5215542335936&text=Hola,%20me%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de%20su%20plataforma" target="_blank">
          <img src="assets/whatsapp.png" alt="whatsapp" class="redes">
        </a>
      </div>
      <div class="column c1">
        <a href="https://www.linkedin.com/company/maat-ai/" target="_blank">
          <img src="assets/linkedin.png" alt="linkedin" class="redes">
        </a>
      </div>
  </div>
  <div class="row">
    <div class="column">
      <p><i class="far fa-copyright"></i> 2019 | All rights reserved |
      <a href="https://www.maatai.com/aviso-de-privacidad/" target="_blank" style="color: #2E2C4F;">Aviso de privacidad</a> </p>      
      <p class="plast"> maat.ai - Trust and be trusted online </p>
    </div>
  </div>
</section>