<section class="footer">
  <section class="containerFooter">
  <div class="row redes" style="padding-top: 4.3em">
    <div class="column">
      <a href="https://www.facebook.com/maataimx/" target="_blank">
        <img src="assets/facebook.svg" alt="Facebook">
      </a>
    </div>
    <div class="column">
      <a href="https://www.instagram.com/maat_ai/" target="_blank">
        <img src="assets/instagram.svg" alt="Instagram">
      </a>
    </div>
    <div class="column">
      <a href="https://twitter.com/maat_ai" target="_blank">
        <img src="assets/twitter.svg" alt="Twitter">
      </a>
    </div>
    <div class="column">
      <a href="https://api.whatsapp.com/send?phone=5215542335936&text=Hola,%20me%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de%20su%20plataforma" target="_blank">
        <img src="assets/whatsapp.svg" alt="Whatsapp">
      </a>
    </div>
    <div class="column">
      <a href="https://www.linkedin.com/company/maat-ai/" target="_blank">
        <img src="assets/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
  </div>
  <div class="row" style="margin-top: 3.3em; margin-bottom: 1.5em; padding-right: 5px;" *ngIf="visibleDivEs">
    <div class="column c1 c2">
      <a href="https://apps.apple.com/mx/app/maatai/id1482680056" target="_blank">
        <img src="assets/appstoreEs.svg" alt="App store" class="cta">
      </a>
    </div>
    <div class="lienzo"></div>
    <div class="column c1 c3">
      <a href="https://play.google.com/store/apps/details?id=com.maatai.maatapp&hl=en" target="_blank">
        <img src="assets/googleEs.svg" alt="Play store" class="cta">
      </a>
    </div>
</div>
<div class="row" style="margin-top: 3.3em; margin-bottom: 1.5em; padding-right: 5px;" *ngIf="visibleDivEn">
  <div class="column c1  c2">
    <a href="https://apps.apple.com/mx/app/maatai/id1482680056" target="_blank">
      <img src="assets/appstoreEn.svg" alt="App store" class="cta">
    </a>
  </div>
  <div class="lienzo"></div>
  <div class="column c1 c3">
    <a href="https://play.google.com/store/apps/details?id=com.maatai.maatapp&hl=en" target="_blank">
      <img src="assets/googlePlay.png" alt="Play store" class="cta">
    </a>
  </div>
</div>
  <div class="row">
    <button class="btnEs" (click)="changeEs()">ES</button><span class="line">|</span>
    <button class="btnEn" (click)="changeEn()">EN</button>
  </div>
  <div class="row" style="margin-top: .8em; margin-bottom: 1.5em;">
    <p>©2020 | All rights reserved | <a routerLink="/aviso-de-privacidad" target="_blank" style="color: #FFFFFF;">{{ 'footer.privacy' | translate }}</a> <br>
    maat.ai - Trust and be trusted online.</p>
  </div>
</section>
</section>
