.footer {
    background-color: #2B3C5A;
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-align: center;
    padding-left: .8em;
    padding-right: .8em;
}

.containerFooter {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-top: 1em;
    padding-bottom: 0;
}

.redes {
    width: 35%;
    margin: 0 auto !important;
}

.column {
    width: 22%;
}

h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    width: 18em;
    margin-top: 1em;
}

.btnSolutions {
    background-color: #92D2E8;
    border: #92D2E8;
    color: #2B3C5A;
    border-radius: 6px;
    padding: 6px 15px; 
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 15em;
    height: 2.4em;
    margin-top: 1.5em;
}

p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 0%;
}

.cta {
    width: 10em;
    height: 2.8em;
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (min-width: 380px) and (max-width: 500px) {
    .cta {
        width: 10em !important;
        height: 3.5em !important;
    }
    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .redes {
        width: 80%;
    }
    .cta {
        width: 8.5em;
    }
    .c1 {
        width: 50%;
    }
    .row {
        padding: 0%;
    }
    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}