.navbarHome {
    overflow-x: hidden;
}

.navDesktop {
    display: block;
}

.navMobile {
    display: none;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: hidden;
    color: #2B3C5A;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

.d-inline{
    width: 70%;
}

.nav-link {
    margin-right: 2em;
    width: 8em;
    text-align: center;
    color: #2B3C5A;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 18px;
    line-height: 22px;
}

a {
    color: #2B3C5A !important;
    font-size: 18px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navDesktop {
        display: none;
    }
    .navMobile {
        display: block;
    }
    .navbarHome {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }
    .maat {
        text-align: center;
        align-items: center;
    }
    .navbar {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .d-inline {
        width: 40%;
        text-align: center;
        align-items: center;
        margin-top: .7em;
    }
    .nav-link {
        font-size: 1em;
        margin: 0;
        width: 100%;
        text-align: center !important;
        align-items: center;
        padding: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}