<nav class="navbar navbar-expand-lg navbar-light d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/white_transp.png" class="d-inline ml-5" alt="maat.ai">
      </a>
    </div>
      <div class="collapse navbar-collapse ml-auto p-2 bd-highlight" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-5">
            <a routerLink="/home" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item mr-5">
            <a routerLink="about" class="nav-link">NOSOTROS</a>
          </li>
          <li class="nav-item mr-5">
            <a routerLink="products" class="nav-link">BLOG</a>
          </li>
          <li class="nav-item mr-5">
            <a href="https://maatai.us19.list-manage.com/subscribe?u=d3818080d22dc397380995a4a&id=1243d5027b" target="_blank">
              <button class="callToAction">ÚNETE</button>
            </a>
            <!--a routerLink="/contact" class="nav-link">Contáctanos</a-->
          </li>
        </ul>
      </div>
    </nav>
    