<a routerLink="">
  <button class="btnClose"><i class="fas fa-times"></i></button>
</a>
<section class="linkApp">
  <h2 style="margin-bottom: 1em;">{{ 'link.titleLink' | translate }}</h2>
  <p>{{ 'link.textLink' | translate }} <a href="https://apps.apple.com/mx/app/maatai/id1482680056">App store</a> {{ 'link.or' | translate}} <a href="https://play.google.com/store/apps/details?id=com.maatai.maatapp&hl=es-419&ah=pny3Z6zoy162CNptM1OYajk5NF0">Google play</a>. </p>
  <form>
  <div class="row inputMobile form-number">
    <div class="form-group">
      <input type="text" placeholder="{{ 'link.number' | translate }}" class="form-control orange number" required name="numberLink" [(ngModel)]="numberLink">
    </div>
    <!--a href="https://Anavzqz.github.io/landing_maat/redirect" class="btnMargin"-->
      <input type="button" class="orange btnSend" (click)="close(numberLink)" name="send" value="{{ 'link.sendLink' | translate }}">
  </div>
  </form>
<div class="row" style="margin-top: 3em;">
    <div class="column c1">
        <img src="assets/appstore.png" alt="App store" class="cta">
      </div>
      <div class="column c1">
          <a href="https://play.google.com/store/apps/details?id=com.maatai.maatapp&hl=en" target="_blank">
            <img src="assets/googlePlay.png" alt="Play store" class="cta">
          </a>
      </div>
  </div>
</section>
