<a routerLink="">
  <button class="btnClose"><i class="fas fa-times"></i></button>
</a>
<section class="linkApp">
  <h2 style="margin-bottom: 1em;">Descarga la app de maat.ai</h2>
  <p>Envía un enlace a tu telefóno o descarga la app de maat.ai directamente desde <a href="https://apps.apple.com/mx/app/maatai/id1482680056">App store</a> o <a href="https://play.google.com/store/apps/details?id=com.maatai.maatapp&hl=es-419&ah=pny3Z6zoy162CNptM1OYajk5NF0">Google play</a>. </p>
  <div class="row">
  <input type="text" placeholder="Número de telefóno" class="orange number">
  <a href="https://Anavzqz.github.io/landing_maat/redirect">
    <button class="orange btnSend">Enviar un enlace</button>
  </a>
</div>
<div class="row" style="margin-top: 3em;">
    <div class="column c1">
        <img src="assets/appstore.png" alt="App store" class="cta">
      </div>
      <div class="column c1">
          <a href="https://play.google.com/store/apps/details?id=com.maatai.maatapp&hl=en" target="_blank">
            <img src="assets/googlePlay.png" alt="Play store" class="cta">
          </a>
      </div>
  </div>
</section>
