<div class="page-container">
  <header class="navbarHome">
    <div class="container thin-container">
      <nav class="navbar navbar-expand navbar-light d-flex bd-highlight">
        <div class="w-80 bd-highlight">
          <a class="navbar-brand">
            <img src="assets/black_transp.png" class="d-inline" alt="maat.ai" />
          </a>
        </div>
      </nav>
    </div>
  </header>
  <section class="container thin-container vh-100">
    <div class="row">
      <!-- left -->
      <div class="col-5 col-custom">
        <app-login *ngIf="!userLoginOn && !user2fAuth"></app-login>
        <app-verification-code
          *ngIf="!userLoginOn && user2fAuth"
        ></app-verification-code>
        <app-confirm-delete *ngIf="userLoginOn"></app-confirm-delete>
        <!-- <app-confirmation [deletedAccount]="valueFromParent"></app-confirmation> -->
      </div>
      <!-- right -->
      <div class="col-7 self-center">
        <img
          class="form-image"
          src="assets/maat_people.png"
          alt=""
          style="margin-left: 2em"
        />
      </div>
    </div>
  </section>
</div>
