<div class="page-container">
  <header class="navbarHome">
    <div class="container thin-container">
      <nav class="navbar navbar-expand navbar-light d-flex bd-highlight">
        <a class="navbar-brand">
          <img src="assets/black_transp.png" alt="maat.ai" />
        </a>
      </nav>
    </div>
  </header>
  <section class="container thin-container vh-100">
    <div class="row">
      <!-- left -->
      <div class="col-6 col-md-5 col-custom">
        <app-login 
          *ngIf="!userLoginOn && !user2fAuth && !endProcess"
          ></app-login>
        <app-verification-code
          *ngIf="!userLoginOn && user2fAuth && !endProcess"
        ></app-verification-code>
        <app-confirm-delete 
          *ngIf="userLoginOn && !endProcess"
        ></app-confirm-delete>
        <app-confirmation 
        *ngIf="endProcess" [endProcess]="endProcess"
        ></app-confirmation>
      </div>
      <!-- right -->
      <div class="col-6 col-md-7 right-img">
        <img
          class="form-image image-desk"
          src="assets/maat_people.png"
          alt="Maat.ai people"
        />
      </div>
    </div>
    <div class="bottom-img">
      <img
        class="form-image image-mob"
        src="assets/maat_people_mob.png"
        alt="Maat.ai people"
      />
    </div>
  </section>
</div>
