<h1>Confirma tu número</h1>
<p>Escribe el código de verificación que hemos enviado al:</p>
<p class="phone-number">+{{ phone }}</p>

<form class="confirm-code-form" [formGroup]="form2fa">
  <div class="form-group">
    <input
      formControlName="verificationCode"
      type="text"
      class="form-control input-bordered"
      id="confirmCode"
      name="confirmCode"
    />

    <div class="link-wrapper">
      <p>
        ¿No llegó tu código?
        <span class="input-link" *ngIf="!resend"
          >Reenvia en {{ countdown }} segundos</span
        >
        <a
          class="input-link cursor-pointer"
          *ngIf="resend"
          (click)="resendSMS()"
          >Reenviar</a
        >
      </p>
    </div>

    <ng-container *ngIf="verificationCode.invalid && verificationCode.touched">
      <p class="error-message">
        <span *ngIf="verificationCode.errors?.required"
          >Este campo es obligatorio</span
        >
        <span *ngIf="verificationCode.errors?.minlength"
          >El código de verifiación debe contener 6 dígitos</span
        >
      </p>
    </ng-container>
  </div>

  <button
    type="button"
    class="btn btn-maat"
    (click)="submitVerificationCode()"
    [disabled]="!form2fa.valid || loader"
  >
    <span *ngIf="!loader"> Verificar</span>
    <span *ngIf="loader"> Cargando...</span>
  </button>
</form>
