.contentCer {
  background-color: #2E608E;
}
.certifications {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: #2E608E;
    max-height: 270px;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
}

.carousel-control-prev {
    color: #92D2E8 !important;
}

.carouselDesktop {
    display: block;
}

.carouselMobile {
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .certifications {
        font-size: 20px !important;
    }
    h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .8em;
    }
    .carouselDesktop {
        display: none;
    }
    .carouselMobile {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
