<section class="modal">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="assets/arrow_back.png" alt="Atrás" aria-hidden="true">
                  </button>
              <h5 class="modal-title" id="exampleModalLongTitle">Registrate a nuestro newsletter</h5>
              <div class="row">
                <p>para ser de los primeros en tener su bóveda de identidad, o de solicitar documentos de forma segura y práctica</p>
              </div>
              <form>
                  <section class="login-form">
            
                    <div class="form-group offset-2">
                      <input type="email" name="email" id="nameUser" placeholder="Correo electrónico" required class="form-control input-lg" />
                    </div>
                    <div class="form-group offset-2">
                      <input type="text" name="name" class="form-control input-lg" id="password" placeholder="Nombre" required="" />
                    </div>
                    <div class="form-group offset-2">
                      <input type="email" name="email" id="nameUser" placeholder="Empresa" required class="form-control input-lg" />
                    </div>
                    <div class="form-group offset-2">
                      <input type="text" name="name" class="form-control input-lg" id="password" placeholder="Teléfono" required="" />
                    </div>
                    <div class="form-group offset-2">
                        <input type="text" name="name" class="form-control input-lg comments" id="password" placeholder="Comentarios" required="" />
                      </div>
                    <div class="col-md-6 offset-4">       
                      <input type="button" name="signIn" value="Suscribirme" data-dismiss="modal" class="btn btn-primary btn-block btn-lg">      
                    </div>      
                  </section>
                  </form>
            
          </div>
        </div>
      </div>
</section>