<section class="home">
    <app-navbar></app-navbar>
    <div class="flexbox-container">
        <div>
          <p class="text1">Estamos construyendo la</p>
          <p class="text2">IDENTIFICACIÓN DIGITAL</p>
          <br>
          <p class="text3">Trámites más fáciles, seguros <br> y privados en cualquier lugar</p>
          <br>

          <div class="row">
            <a href="https://maatai.us19.list-manage.com/subscribe?u=d3818080d22dc397380995a4a&id=1243d5027b" target="_blank">
              <button class="btnJoinUp">ÚNETE</button>
            </a>
            <a href="#video">
            <button class="btnLookVideo"><i class="far fa-play-circle"></i>  MIRAR VIDEO</button>
          </a>
          </div>
        </div>
        <div>
          <!--img src="assets/1cel.png" alt="cel" class="cel1"-->
        </div>
    </div>
</section>
