<section class="navbarHome">
  <section class="navDesktop">
  <nav class="navbar navbar-expand navbar-light d-flex bd-highlight">
    <div class="w-80 bd-highlight">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/black_transp.png" class="d-inline" alt="maat.ai">
      </a>
    </div>
      <div class="ml-auto p-2 bd-highlight" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ml-5">
            <a routerLink="/" data-toggle="tab" class="nav-link active">{{ 'navbar.people' | translate }}</a>
          </li>
          <li class="nav-item ml-3">
            <a routerLink="/empresas" data-toggle="tab" class="nav-link">{{ 'navbar.company' | translate }}</a>
          </li>
          <li class="nav-item mr-auto">
            <a href="https://www.blog.maatai.com/" target="_blank" class="nav-link">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <section class="navMobile">
      <div class="maat bd-highlight">
          <a routerLink="/">
            <img src="assets/black_transp.png" class="d-inline" alt="maat.ai">
          </a>
        </div> <br>
        <div class="row">
            <div class="column c1">
              <a routerLink="/" class="nav-link active" i18n>{{ 'navbar.people' | translate }}</a>
            </div>
            <div class="column c2">
              <a routerLink="/empresas" class="nav-link" i18n>{{ 'navbar.company' | translate }}</a>
            </div>
            <div class="column c3">
              <a href="https://www.blog.maatai.com/" target="_blank" class="nav-link">Blog</a>
            </div>
        </div>
    </section>
  </section>
<section class="home">
  <section class="containerHome">
    <div class="flexbox-container">
        <div>
          <br>
          <h1 class="text1">{{ 'home.title' | translate }}</h1>
          <br>
          <p class="text3"><span class="maat">{{ 'home.maat' | translate }}</span>{{ 'home.description' | translate }}</p>
          <br><br>
          <div class="row desktopBtn">
            <a routerLink="/link" class="btn2">
              <button class="btnJoinUp">{{ 'home.btnSend' | translate }}</button>
            </a>
          </div>
          <div class="row mobileBtn">
              <button class="btnJoinUp" (click)="detect()">{{ 'home.btnSend' | translate }}</button>
          </div>
          <div class="row" style="margin-top: 1em;">
            <a routerLink="/empresas" class="btn2">
              <button class="btnLookVideo">{{ 'home.btnBusiness' | translate }}</button>
            </a>
          </div>
        </div>
        <div style="padding: 0%;text-align:right;" class="peoples">
          <img src="assets/imagen_header.png" alt="cel" class="shareImg">
        </div>
    </div>
  </section>
</section>
<app-exampleapp></app-exampleapp>
<app-solutions></app-solutions>
<app-description></app-description>
<app-trust></app-trust>
<app-certifications2></app-certifications2>
<app-cards></app-cards>
<app-footer>(propagar)="setLanguage(langEs)"</app-footer>
<div class="alert alert-warning grdp row" role="alert" [hidden]="!visible">
  <div class="txt-cookies">
    <p>
      {{ 'cookies.noticeCookies' | translate }}
    </p>
    <p>{{ 'cookies.infoCookies' | translate }} <a href="https://www.maatai.com/aviso-de-privacidad" style="color: #165299; font-weight: bold; font-size: 16px;"> {{ 'cookies.alertCookies' | translate }}</a>.</p>
  </div>
  <div class="cookies">
    <button type="button" class="btn btn-success bcgrdp" (click)="onGRDP()" style="margin: 0 auto !important;">{{ 'cookies.acceptCookies' | translate }}</button>
  </div>
</div>
