.home{
    overflow-x: hidden;
    background-image: url("../../../assets/fondo3.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    max-width: 100%;
    height: 540px;
    color: #2B3C5A;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.containerHome {
    max-width: 1000px;
    margin: 0 auto;
}

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flexbox-container > div {
    width: 50%;
    margin-top: .8em;
}

.flexbox-container > div:first-child {
    margin-top: 1em;
    margin-left: .8em;
}

.text1 {
    padding-top: 1.5em;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
}

.text2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-top: 0%;
    margin-bottom: 0%;
}

.text3 {
    font-size: 22px;
    text-align: justify;
}

.row {
    padding-left: 2em; 
}

.btnJoinUp {
    background-color: #F86F60;
    border: #F86F60;
    border-radius: 6px;
    color: white;
    padding: 6px 15px; 
    font-style: bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 17em;
    height: 2.4em;
}

.btnLookVideo {
    background-color: #FFFFFF;
    border: 3px solid #92D2E8;
    border-radius: 6px;
    color: #2B3C5A;
    padding: 6px 15px; 
    margin-top: 1em;
    font-style: bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 17em;
    height: 2.4em;
}

.shareImg {
    width: 100%;
    right: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home{
        background-position: cover;
        background-repeat: no-repeat;
        background-size: 200% 100%;
        max-height: 430px;
        position: relative;
    }
    .containerHome {
        margin-top: 0%;
    }
    .flexbox-container > div {
        width: 0%;
    }
    .flexbox-container > div:first-child {
        margin-top: 0;
        margin-left: .8em;
        margin-right: .8em;
        width: 100%;
    }
    .text1 {
        padding-top: .3em;
        margin-bottom: 0%;
    }
    .text3{
        font-size: 18px;
        line-height: 27px;
        padding-left: .7em;
    }
    .btnJoinUp {
        width: 15em;
        margin: 0 auto;
    }
    .btnLookVideo {
        width: 15em;
    }
    .btn2 {
        margin: 0 auto !important;
    }
    .row {
        width: 100%;
        padding: 0%;
        margin-right: 0;
        margin-left: 0%;
        text-align: center !important;
        align-items: center !important;
    }
    .shareImg {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .shareImg {
        height: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .shareImg {
        height: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}