<app-navbar></app-navbar>
<section class="home">
  <section class="containerHome">
    <div class="flexbox-container">
        <div>
          <p class="text1">{{ 'home.title' | translate }}</p>
          <br>
          <p class="text3">{{ 'home.description' | translate }}</p>
          <br>
          <div class="row desktopBtn">
            <a routerLink="/link" class="btn2">
              <button class="btnJoinUp">{{ 'home.btnSend' | translate }}</button>
            </a>
          </div>
          <div class="row mobileBtn">
              <button class="btnJoinUp" (click)="detect()">{{ 'home.btnSend' | translate }}</button>
          </div>
          <div class="row" style="margin-top: 1em;">
            <a routerLink="/welcome" class="btn2">
              <button class="btnLookVideo">{{ 'home.btnBusiness' | translate }}</button>
            </a>
          </div>
        </div>
        <div style="padding: 0%;text-align:right;">
          <img src="assets/imagen_header.png" alt="cel" class="shareImg">
        </div>
    </div>
  </section>
</section>
<app-exampleapp></app-exampleapp>
<app-solutions></app-solutions>
<app-trust></app-trust>
<app-certifications2></app-certifications2>
<app-cards></app-cards>
<app-footer></app-footer>
