<app-navbar></app-navbar>
<section class="privacyEmployees">
  <br>
  <h4><b>MAAT INTELIGENCIA AVANZADA</b></h4>
  <h4><b>AVISO DE PRIVACIDAD PARA EMPLEADOS DE MAAT INTELIGENCIA AVANZADA</b></h4>
  <br>
  <p>
      MAAT Inteligencia Avanzada, S.A.P.I. de C.V. (en lo sucesivo identificada como el
      “<u>Responsable</u>” o “<u>MAAT</u>”), con domicilio en Bosques de Radiatas #44, Oficina 303. Col.
      Bosques de las Lomas. Delegación Cuajimalpa de Morelos, C.P. 05120, Ciudad de
      México, en atención a la Ley Federal de Protección de Datos Personales en Posesión
      de los Particulares (la “<u>Ley</u>”), su Reglamento, los Lineamientos del Aviso de Privacidad
      y nuestra Política de Cumplimiento en Materia de Protección de Datos Personales,
      ponemos a su disposición el presente aviso de privacidad (el “<u>Aviso de Privacidad</u>”).
  </p>
  <p>
      Le hacemos notar que, en cumplimiento del Artículo 30 y Tercero Transitorio de la Ley,
      MAAT ha designado un departamento de cumplimiento encargado de dar trámite a las
      solicitudes de los titulares y de fomentar la protección de datos personales al interior de
      nuestra empresa, a quien puede ubicar y contactar directamente en nuestras oficinas
      ubicadas en la dirección señalada en el párrafo que antecede o bien en la siguiente
      cuenta de correo electrónico <a href="mailto:privacidad@maatai.com">privacidad@maatai.com</a><br>
      Sus datos personales son muy importantes para nosotros y serán tratados con base en
      los principios de licitud, consentimiento, información, calidad, finalidad, lealtad,
      proporcionalidad y responsabilidad en términos de la legislación aplicable, en apego a
      los deberes de seguridad y confidencialidad, y se utilizarán exclusivamente para las
      finalidades listadas a continuación:
  </p>
  <h5><b><u>FINALIDADES DEL TRATAMIENTO</u></b></h5>
  <ul>
    <li>Para preparar su contrato individual de trabajo.</li>
    <li>Para pagarle su salario y las prestaciones que le correspondan.</li>
    <li>Para administración de nómina y pensiones.</li>
    <li>Para, en caso de que le corresponda, proporcionarle seguro médico u otros beneficios.</li>
    <li>Para evaluar su desempeño y solicitudes de transferencias.</li>
    <li>Para evaluar sus solicitudes de permisos para ausentarse.</li>
    <li>Para planear sus capacitaciones, entrenamientos y adiestramientos.</li>
    <li>Para determinar si cumple con los requisitos necesarios para su rol y/o tiene los conocimientos necesarios para desarrollar un trabajo.</li>
    <li>Para llevar a cabo procesos disciplinarios.</li>
    <li>Para administración de nuestras finanzas y riesgos.</li>
    <li>Para evaluar si está capacitado para un determinado puesto o para algún
        proyecto que nos sea asignado por nuestros clientes, incluyendo la
        participación en los procesos de selección (por ejemplo, concursos) por parte
        de los clientes.</li>
    <li>Para el cumplimiento y administración de proyectos que nos sean asignados por nuestros clientes.</li>
    <li>Para procesos de revisión.</li>
    <li>Para dar cumplimiento a nuestras obligaciones legales, regulatorias, administrativas y organizacionales.</li>
    <li>Para dar cumplimiento a nuestras políticas y códigos internos.</li>
    <li>Para realizar evaluaciones de desempeño profesional.</li>
    <li>Para en general mantener y administrar la relación laboral que nos une.</li>
  </ul>
  <p>
    De manera adicional, utilizaremos sus datos personales para felicitarlo el día de su cumpleaños, e invitarlo a eventos sociales de MAAT.
  </p>
  <p>
      En caso de que no desee que sus datos personales sean tratados para estos fines
      adicionales, desde este momento usted lo puede comunicar personalmente a nuestro
      departamento de cumplimiento o mediante correo electrónico a la cuenta
      <a href="mailto:privacidad@maatai.com">privacidad@maatai.com</a>.
  </p>
  <p>
      Le informamos que MAAT no utiliza sus datos personales para finalidades de
      publicidad, mercadotecnia y prospección comercial.
  </p>
  <h5><b><u>DATOS PERSONALES QUE USAMOS</u></b></h5>
  <p>
      Para llevar a cabo las finalidades descritas en el presente Aviso de Privacidad,
      utilizaremos datos personales de que usted es titular, dentro de las siguientes
      categorías:
  </p>
  <ul>
    <li>Datos de identificación.</li>
    <li>Datos de estado migratorio.</li>
    <li>Datos laborales y académicos.</li>
    <li>Datos financieros y patrimoniales.</li>
    <li>Datos sobre su desempeño.</li>
    <li>Datos respecto a sus seguros de vida y gastos médicos.</li>
    <li>Datos contenidos en su correspondencia con la empresa o que de otra forma nos sea proporcionada.</li>
    <li>Datos que sean almacenados por usted en las herramientas de trabajo.</li>
  </ul>
  <p>Le hacemos notar que también tratamos los siguientes datos personales sensibles de que usted es titular:</p>
  <ul>
    <li>Datos sobre su estado físico y mental de salud.</li>
    <li>Afiliación sindical.</li>
    <li>Información sobre la comisión o presunta comisión de un delito o infracción.</li>
  </ul>
  <h5><b><u>TRANFERENCIAS</u></b></h5>
  <p>Le comunicamos que el Responsable transfiere su información personal en los siguientes casos:</p>
  <div style="padding-left: 30px;">
  <p>1.  A autoridades que requieren la misma en términos de la legislación aplicable,
      incluyendo de forma enunciativa más no limitativa en materia laboral, de
      seguridad social y fiscal.</p>
  <p>2.  A entidades dentro de nuestro mismo grupo corporativo, las cuales operan bajo
      los mismos procesos y políticas internas.</p>
  <p>
      3.  A autoridades que nos la soliciten como parte de un proceso judicial o
      administrativo donde sea necesario revelar su información personal.
  </p>
  <p>
      4.  A nuestros clientes para el cumplimiento y administración de los proyectos que
      nos sean asignados por éstos y lo cual es preciso para el mantenimiento de
      nuestra relación laboral.
  </p>
  <p>
    5.  A bancos, a otras entidades que otorguen créditos hipotecarios o de otro tipo a
    los empleados y a prospectos de nuevos patrones y cuando así nos lo solicitan
    los empleados para que éstos puedan llevar a cabo tramites frente a tales
    terceros.
  </p>
  <p>
      6.  A compradores o inversionistas, a prospectos de compradores o inversionistas
      de los negocios de MAAT así como a prospectos de nuevos patrones, empresas
      adquirentes o fusionadas u otras organizaciones y a empresas adquiridas por el
      Responsable, todas ya sea a nivel nacional o internacional.
  </p>
  <p>
    7.  Cuando usted nos solicite que demos una referencia a algún tercero.
  </p>
</div>
<p>
    En cualquier caso, ya sea que la transferencia sea nacional o internacional, el
    Responsable se asegurará de entregar al receptor el presente Aviso de Privacidad y de
    que éste asuma, por lo menos, las mismas obligaciones a las que nosotros nos
    encontramos sujetos. Esto, mediante cláusulas contractuales u otros instrumentos
    jurídicos celebrados entre el Responsable y los receptores de los datos o aceptaciones
    electrónicas/automatizadas de los mismos.
</p>
<p>
    Le informamos que las transferencias listadas en este apartado están todas permitidas
    en términos del artículo 37 de la Ley, por lo cual no es necesario que este Aviso de
    Privacidad contenga una cláusula de aceptación de transferencias de datos personales.
</p>
<p>
    Le hacemos también notar que MAAT podría compartir sus datos personales con
    terceros encargados que nos presten servicios de procesamiento de datos, quienes
    utilizarán sus datos personales solamente en nuestro nombre y conforme a nuestras
    instrucciones y en términos de un contrato por escrito donde se establezca el alcance y
    contenido de nuestra relación con el encargado correspondiente.
</p>
  <h5><b><u>CONFIDENCIALIDAD Y MEDIDAS DE SEGURIDAD</u></b></h5>
  <p>
      La confidencialidad y protección de sus datos personales es una prioridad para MAAT,
      por lo que hemos establecido y mantenemos medidas de seguridad administrativas,
      técnicas y físicas para evitar su daño, pérdida, alteración y destrucción, así como su
      uso, acceso, distribución o divulgación indebida.
  </p>
  <h5><b><u>DERECHOS ARCO Y SU EJERCICIO</u></b></h5>
  <p>
      Usted, como titular, tiene derecho a: (i) acceder a sus datos personales en nuestra
      posesión y conocer los detalles del tratamiento de los mismos, (ii) rectificarlos en caso
      de estar desactualizados, ser inexactos o estar incompletos, (iii) cancelarlos cuando
      considere que no están siendo utilizados conforme a los principios, deberes y
      obligaciones aplicables, en la medida en que éstos no sean necesarios para dar
      cumplimiento a las obligaciones derivadas de nuestra relación laboral y según sea
      permitido por la legislación aplicable, u (iv) oponerse al tratamiento de los mismo para
      fines específicos. Esto derechos se conocen como los “<u>Derechos ARCO</u>”.
  </p>
  <h5><b><u>EJERCICIO DE DERECHOS ARCO</u></b></h5>
  <p>
      La solicitud de ejercicio de Derechos ARCO deberá ser presentada en nuestro domicilio
      dirigida a la atención del departamento de cumplimiento, acompañada de la siguiente
      información y documentación:
  </p>
  <ul>
    <li>Datos de identificación del titular de los datos personales y/o de su
        representante legal. En el caso de que la solicitud se presente a través de
        representante legal se deberá acompañar copia del documento con el que se
        acredite ese carácter.</li>
    <li>
        La descripción de manera clara y precisa de los datos personales respecto de
        los cuales busca ejercer los Derechos ARCO, así como el derecho o derechos
        que desea ejercer. La solicitud deberá ser firmada al final del escrito y rubricada
        al calce de cada una de las hojas.
    </li>
    <li>
        Domicilio para oír y recibir la contestación del Responsable, y, en su caso,
        futuras comunicaciones y/o notificaciones, o bien su deseo de que nuestra
        contestación y/o futuras notificaciones o contestaciones sean enviadas a través
        de correo electrónico, indicando la respectiva cuenta.
    </li>
    <li>
        Copia de la identificación oficial vigente del titular de los datos personales y, en
        su caso, de su representante legal.
    </li>
  </ul>
  <p>
      Una vez que la solicitud para ejercer Derechos ARCO se encuentre a nuestra
      disposición, independientemente de la forma en que se reciba, se emitirá la
      contestación en un plazo no mayor a 20 (veinte) días hábiles a partir de su recepción.
      La cual haremos de su conocimiento a través del medio de contacto elegido. Una vez
      recibida la contestación de MAAT, usted tendrá un plazo de 15 (quince) días hábiles
      para emitir su contestación. Los plazos antes referidos podrían ser ampliados una sola
      vez por un periodo igual, siempre y cuando así lo justifiquen las circunstancias del
      caso.
  </p>
  <p>
      En caso de estar inconforme podrá contactarnos de manera inmediata a través de los
      medios señalados, quedando a su entera disposición para abordar cualquier inquietud.
      En caso de no responder a nuestra contestación en el plazo señalado, entenderemos
      de buena fe que está conforme con la respuesta.
  </p>
  <p>
      Si la solicitud de ejercicio de Derechos ARCO es acerca del ejercicio del derecho de
      acceso, pondremos a su disposición su información o datos personales a través de
      copias simples y/o documentos electrónicos.
  </p>
  <p>
      Como responsable, podremos negar el ejercicio de Derechos ARCO en los supuestos
      que lo permita la Ley y su Reglamento, por lo que se le deberá informar el motivo de
      dicha negativa. La negativa podrá ser parcial, en cuyo caso efectuaremos el acceso,
      rectificación, cancelación u oposición en la parte procedente.
  </p>
  <h5><b><u>REVOCACIÓN DEL CONSENTIMIENTO AL TRATAMIENTO DE SUS DATOS PERSONALES</u></b></h5>
  <p>Usted, como titular de los Datos Personales, puede revocar su consentimiento para el
      tratamiento de sus datos personales siguiendo el mismo procedimiento que para el
      ejercicio de sus Derechos ARCO, en el entendido que una vez que su solicitud de
      revocación se encuentre a nuestra disposición, emitiremos nuestra contestación en un
      plazo máximo de 5 (cinco) días hábiles.
    </p>
  <h5><b><u>OPCIONES PARA LIMITAR EL USO O DIVULGACIÓN DE SUS DATOS PERSONALES</u></b></h5>
  <p>
      Usted, como titular de sus datos personales, puede limitar el uso o divulgación de los
      mismos siguiendo el mismo procedimiento que para el ejercicio de sus Derechos
      ARCO, en el entendido que una vez que su solicitud se encuentre a nuestra
      disposición, emitiremos nuestra contestación en un plazo no mayor a 5 (cinco) días
      hábiles.
  </p>
  <h5><b><u>USO DE COOKIES, WEB BEACONS Y OTRAS TECNOLOGÍAS SIMILARES</u></b></h5>
  <p>
      Se hace de su conocimiento que no recabamos datos personales de nuestros
      empleados mediante el uso de cookies, web beacons y otras tecnologías similares.
  </p>
  <h5><b><u>CAMBIOS AL AVISO DE PRIVACIDAD</u></b></h5>
  <p>
      En cualquier tiempo podremos hacer modificaciones, cambios y/o actualizaciones al
      presente Aviso que sean necesarias para atender disposiciones legales aplicables,
      nuestras prácticas de privacidad, o por otras causas, las cuales haremos del
      conocimiento de nuestros empleados mediante la entrega personal de la versión
      actualizada de nuestro Aviso de Privacidad. En el Aviso se incluirá la fecha de la última
      versión del mismo.
  </p>
  <h5><b><u>RECONOCIMIENTO</u></b></h5>
  <p>
      Al proporcionarnos sus datos personales y firmar al calce este Aviso de Privacidad,
      expresamente lo reconoce y acepta. Asimismo, entiende que en la medida en que el
      tratamiento de sus datos personales tenga como propósito el cumplir con obligaciones
      derivadas con nuestra relación laboral no es necesario contar con su consentimiento
      para tales finalidades. En cualquier caso, procedamos al tratamiento de sus datos
      personales de la forma en que se señala en el presente y con estricto apego al mismo,
      la Ley, su Reglamento y demás legislación aplicable.
      Manifiesto que he leído, entiendo y consiento el presente Aviso de Privacidad, el cual
      se integrará a mi expediente laboral y manifiesto que he recibido una copia del mismo.
  </p>
  <p class="upgrade"><b>FECHA DE ÚLTIMA ACTUALIZACIÓN: 25 DE ABRIL DEL 2019.</b></p>
</section>
<app-footer></app-footer>
