<section class="companies">
  <h3>Has tu empresa más eficiente solicitando documentos de manera rápida y segura con maat.ai.</h3>
  <br>
  <p>Proteger la identidad digital es de vital importancia, sobre todo en una época como la nuestra, en la que cada paso que damos en internet deja un registro que nos vuelve vulnerables a robos y fraudes.</p>
  <p>Por eso nació maat.ai, una plataforma que utiliza blockchain, criptografía avanzada y servidores de alta seguridad para que las personas puedan identificarse y administrar sus información con confianza y seguridad.</p>
  <br>
  <br>
  <h3>Con maat.ai administra la identidad digital de tus clientes y digitaliza tus procesos.</h3>
  <br>
  <p><b>maat.ai</b> es la nueva Comunidad de Confianza que te permitirá solicitar documentos digitales certificados y crear expedientes sin tener que lidiar con trámites burocráticos engorrosos que te hacen perder tiempo, dinero y energía.</p>
  <p>- Identifica a tus empleados y nuevos prospectos en el área de recursos humanos.</p>
  <p>- Mejora la seguridad en todos los accesos a tu negocio o empresa.</p>
  <p>- Crea y almacena expedientes digitales.</p>
  <p>- Realiza compras, ventas y originación digital de créditos de forma fácil y remota.</p>
  <p>- Protégete del robo de identidad y cuentas incobrables (KYC), fraudes y lavado de dinero (AMD/PLD).</p>
  <p>Para nuestro equipo de ingenieros, programadores y criptógrafos tu seguridad es lo más importante. Todos los archivos son encriptados y almacenados en servidores de máxima seguridad; cualquier movimiento que se haga a través de maat.ai es confidencial y se registra en blockchain, de manera permanente e inalterable.</p>
  <br>
  <h2>¡Bienvenido a tu nueva Comunidad de Confianza!</h2>
  
</section>
