<section class="companies">
  <section class="flexbox-container">
    <div class="divs">
      <h3>{{ 'companies.titleCompanies' | translate }}</h3>
      <br>
      <p>{{ 'companies.info' | translate }}</p>
      <p>{{ 'companies.maatVerify' | translate }}</p>
      <p>{{ 'companies.blockchain' | translate }}</p>
    </div>
    <div class="divs">
      <h3>{{ 'companies.subtitle' | translate }}</h3>
      <br>
      <p style="margin-bottom: 29px;">{{ 'companies.companiMaat' | translate }}</p>
      <ul>
        <li>{{ 'companies.rh' | translate }}</li>
        <li>{{ 'companies.improve' | translate }}</li>
        <li>{{ 'companies.create' | translate }}</li>
        <li>{{ 'companies.sales' | translate }}</li>
      </ul>
    </div>
  </section>
  <br>
  <h2>¡Bienvenido a tu nueva Comunidad de Confianza!</h2>
</section>
