<section class="notice">
  <app-navbar></app-navbar>
<section class="privacy">
  <br>
  <h4><b>MAAT INTELIGENCIA AVANZADA</b></h4>
  <h4><b>AVISO DE PRIVACIDAD PARA NUESTROS USUARIOS</b></h4>
  <br>
  <p>MAAT Inteligencia Avanzada, S.A.P.I. de C.V. (en lo sucesivo identificada como "MAAT"), con domicilio en Bosques de Radiatas #44,
    Oficina 303. Col. Bosques de las Lomas. Delegación Cuajimalpa de Morelos, C.P. 05120, Ciudad de México,
    en atención a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la "Ley"), su Reglamento,
    los Lineamientos del Aviso de Privacidad y nuestras políticas internas, ponemos a disposición de nuestros usuarios el presente
    aviso de privacidad (el "<u>Aviso de Privacidad</u>").
  </p>
  <p>
      El departamento de cumplimiento de MAAT es el encargado de dar trámite a las
      solicitudes de los usuarios y de fomentar la protección de datos personales al interior
      de nuestra organización, a quien se puede contactar en la siguiente cuenta de correo
      electrónico <a href="mailto:privacidad@maatai.com">privacidad@maatai.com</a>.
  </p>
  <p>
      Los datos personales de nuestros usuarios son muy importantes para nosotros y serán
      tratados con base en los principios de licitud, consentimiento, información, calidad,
      finalidad, lealtad, proporcionalidad y responsabilidad, en términos de la legislación
      aplicable y en apego a los deberes de seguridad y confidencialidad.
  </p>
  <h5><b><u>FINALIDADES DEL TRATAMIENTO</u></b></h5>
  <p>En MAAT tratamos los datos personales de nuestros usuarios para estar en posibilidades de prestarles los servicios consistentes en:</p>

  <p class="termPoint"><strong>1. Almacenamiento seguro de su información.</strong> En MAAT nos gusta describirnos como un “bóveda virtual” o “wallet” de documentos personales. Esto quiere decir que una vez que nuestros usuarios han abierto una cuenta con MAAT (la “Bóveda MAAT”), podrán mantener en un solo lugar, de forma ordenada, concentrada, y accesible -solo para el usuario titular de la Bóveda MAAT-, sus documentos personales y estarán en posibilidades de compartirlos con terceros en el momento que así lo decidan. La Bóveda MAAT funciona como un expediente electrónico que se encuentra alojado de forma segura en nuestra plataforma electrónica (la “Plataforma MAAT”).
    La Bóveda MAAT de nuestros usuarios se conforma por: (i) los documentos e información que nos es proporcionada directamente por los usuarios a través de nuestra página de internet <a href="https://www.maat.ai/">https://www.maat.ai/</a>,  nuestra aplicación “MAAT”, de forma presencial si llevamos a cabo una entrevista, o bien (ii) cuando MAAT obtiene la información de otras bases de datos, tal como se explica a continuación.</p>

  <p class="termPoint"><strong>2. Extracción de información de otras bases de datos.</strong> En la medida en que nuestros usuarios nos lo autoricen, MAAT puede extraer cierta información personal de plataformas y bases de datos gubernamentales, para almacenarla con el resto de la información del usuario dentro de su Bóveda MAAT. Por ejemplo, previa autorización y haciendo uso de ciertos datos previamente proporcionados por nuestros usuarios, MAAT puede obtener directamente su Clave Única del Registro de Población (CURP) para después almacenarla en la Bóveda MAAT del usuario correspondiente.</p>

  <p class="termPoint"><strong>3. Verificación de información con otras bases de datos.</strong> También en la medida en que nuestros usuarios nos lo autoricen, podemos verificar la autenticidad de la información personal que nos entreguen, contra la contenida en bases de datos gubernamentales. Por ejemplo, podemos verificar la autenticidad de una credencial para votar contra la base de datos del Instituto Nacional Electoral, con quien MAAT está en proceso de celebrar un convenio para tales efectos.</p>

  <p class="termPoint"><strong>4. Facilitar que nuestros usuarios compartan su información con los terceros que ellos decidan.</strong> A través de la Bóveda MAAT y haciendo uso de nuestra tecnología, nuestros usuarios pueden compartir con terceros su información personal. MAAT identifica y conserva constancia, por medios automáticos donde por regla general no hay intervención humana, de todo movimiento de los datos almacenados por nuestros usuarios, incluyendo: transmisión a terceros de la información, los permisos que el usuario otorgue a dichos terceros (por ejemplo, para revisar o imprimir la información personal) y sus revocaciones y denegaciones, momento en que esto sucede, destinatario de los documentos compartidos, etcétera.</p>

  <p><b>MAAT no utiliza sus datos personales para finalidades de mercadotecnia, publicidad, prospección comercial o para otras finalidades no relacionadas con la prestación de nuestros servicios.</b></p>

<h5><b><u>DATOS PERSONALES TRATADOS</u></b></h5>

  <p>Para la apertura y mantenimiento de su Bóveda MAAT recabamos los siguientes datos personales que usted directamente nos proporcione a través de nuestra página web <a href="http://www.maat.ai/">http://www.maat.ai/</a>, de nuestra aplicación móvil “MAAT” o bien de forma presencial si llevamos a cabo una entrevista:</p>

  <ul style="padding-left: 30px">
      <li>Nombre completo*</li>
      <li>Correo electrónico*</li>
      <li>Número de teléfono celular*</li>
      <li>Datos contenidos en la Credencial para votar expedida por el Instituto Nacional Electoral, incluyendo la Clave Única de Registro de Población (CURP)*</li>
      <li>Fotografía*</li>
      <li>Estado civil</li>
      <li>Registro Federal de Contribuyente</li>
      <li>Ultimo grado de estudios</li>
      <li>Información de su empleo</li>
  </ul>

  <p>*La información marcada con asteriscos es indispensable para identificarlo y abrir una Bóveda MAAT, el resto de la información es optativa, pero sirve también para completar el wallet del usuario.</p>

  <p>Una vez que ha abierto su Bóveda MAAT, para poder prestar nuestros servicios, MAAT trata los datos personales que cada usuario decida proporcionarnos, entre éstos se incluyen:</p>

  <ul style="padding-left: 30px">
      <li>Clave Única del Registro de Población (CURP)</li>
      <li>Registro Federal de Contribuyentes (RFC)</li>
      <li>Acta de Nacimiento</li>
      <li>Cédula Profesional</li>
      <li>Cédula del Seguro Social</li>
      <li>Información de redes sociales</li>
      <li>Información financiera</li>
      <li>Información patrimonial</li>
      <li>Información contenida en comprobantes de domicilio</li>
      <li>Información académica</li>
      <li>Información laboral</li>
      <li>Información de salud*</li>
      <li>Datos biométricos*</li>
  </ul>

  <p>*La información marcada con asteriscos es considerada como datos personales sensibles conforme a la Ley</p>

<h5><b><u>FORMA EN QUE SE COMPARTEN SUS DATOS PERSONALES</u></b></h5>

  <p><strong>Solo nuestros usuarios, haciendo uso de su Bóveda MAAT, pueden compartir su información personal con terceros.</strong> Como explicamos en la sección anterior, nuestra tecnología les permite:</p>

  <ul style="padding-left: 20px">
      <li>Otorgar al tercero receptor de la información los permisos especiales que cada usuario decida, incluyendo: temporalidad del acceso a la información (por tiempo o acto específico), permiso para imprimir, visualización total o parcial del documento, etc.</li>
      <li>Identificar, por medios automáticos donde por regla general no hay intervención humana, todos los datos de la transmisión de su información a los terceros, incluyendo la fecha y hora en que se autorizó, destinatario, temporalidad y, en su caso, los permisos especiales otorgados.</li>
  </ul>

  <p>Le hacemos notar que en caso de que nuestros usuarios decidan compartir sus datos con terceros haciendo uso de nuestra plataforma electrónica, MAAT no se hará responsable del tratamiento que le den a la información los terceros receptores de la misma, por lo que le recomendamos ampliamente a nuestros usuarios que revisen los avisos de privacidad y términos y condiciones emitidos por todo tercero al que nuestros usuarios le entreguen sus datos personales.</p>

  <p><strong>MAAT no transfiere datos personales de nuestros usuarios a tercero alguno como parte de la prestación de nuestros servicios. MAAT solamente compartirá datos personales en los supuestos en que la Ley disponga que la transferencia se deba llevar a cabo; esto es: (i) que exista una disposición legal que nos obligue a hacerlo, (ii) que exista una solicitud por parte de una autoridad competente, (iii) que la transferencia sea necesaria o legalmente exigible para salvaguardar un interés público o para la procuración o administración de justicia, o (iv) que la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial.   </strong></p>

<h5><b><u>CONFIDENCIALIDAD Y MEDIDAS DE SEGURIDAD</u></b></h5>

  <p>La confidencialidad y protección de los datos personales de nuestros usuarios es una prioridad para nosotros, por lo que hemos establecido y mantenemos medidas de seguridad administrativas, técnicas y físicas para evitar su daño, pérdida, alteración y destrucción, así como su uso, acceso, distribución o divulgación indebida.</p>

<h5><b><u>DERECHOS ARCO Y SU EJERCICIO</u></b></h5>

<p>Todo usuario, como titular de sus datos personales, tiene derecho a: (i) acceder a sus datos personales en nuestra posesión y conocer los detalles del tratamiento de los mismos, (ii) rectificarlos en caso de estar desactualizados, ser inexactos o estar incompletos, (iii) cancelarlos, u (iv) oponerse al tratamiento de los mismo para fines específicos. Estos derechos se conocen como los <u>“Derechos ARCO”</u>.</p>

<h5><b><u>EJERCICIO DE DERECHOS ARCO</u></b></h5>

<p>Para el ejercicio de Derechos ARCO se deberá enviar una comunicación al correo electrónico <a href="mailto:legal@maat.ai">legal@maat.ai</a>, acompañada de la siguiente información y documentación:</p>

  <ul style="padding-left: 30px">
      <li>Datos de identificación del titular de los datos personales y, en su caso, de su representante legal. En el caso de que la solicitud se presente a través de representante legal se deberá acompañar copia del documento con el que se acredite ese carácter. Los documentos podrán ser escaneados y adjuntados al correo electrónico para verificar su veracidad.</li>
      <li>La descripción de manera clara y precisa de los datos personales respecto de los cuales se busca ejercer Derechos ARCO, así como el derecho o derechos que se desea ejercer, lo cual podrá hacerse en el texto del correo electrónico o en un documento adjunto escaneado y debidamente firmado al final del mismo y rubricado al calce de cada una de las hojas.</li>
      <li>Señalar expresamente el deseo de recibir la contestación de MAAT a la petición a través de correo electrónico, indicando la dirección de correo electrónico que corresponda.</li>
      <li>Copia de la identificación oficial vigente del titular de los datos personales y, en su caso, de su representante legal. Los documentos podrán ser escaneados y adjuntados al correo electrónico para verificar su veracidad.</li>
  </ul>

  <p>Una vez que la solicitud para ejercer Derechos ARCO se encuentre a nuestra disposición, se emitirá la contestación en un plazo no mayor a 20 (veinte) días hábiles a partir de su recepción. Una vez recibida nuestra respuesta, el usuario tendrá un plazo de 15 (quince) días hábiles para emitir su contestación. Los plazos antes referidos podrían ser ampliados una sola vez por un periodo igual, siempre y cuando así lo justifiquen las circunstancias del caso. En caso de no responder a nuestra contestación en el plazo señalado, entenderemos de buena fe que el usuario correspondiente está conforme con nuestra respuesta. Nuestros usuarios pueden contactarnos en cualquier momento, ya que estamos a su entera disposición para platicar cualquier inquietud.</p>

  <p>Le hacemos notar que como responsable de los datos personales, podremos negar el ejercicio de Derechos ARCO en los supuestos que lo permita la Ley y su Reglamento, en cuyo caso informaremos las razones de dicha negativa al solicitante. La negativa podrá ser parcial, en cuyo caso efectuaremos el acceso, rectificación, cancelación u oposición en la parte procedente.</p>

  <p><b>También le hacemos notar que nuestros usuarios en cualquier momento pueden optar por dar de baja su información de su Bóveda MAAT y cancelar su cuenta. Es decir, pueden pedirnos que cancelemos su información mediante el procedimiento antes descrito o bien dar de baja su información de nuestra plataforma en cualquier momento, en cuyo caso: (i) nosotros no nos quedaremos con copia de la misma, y (ii) los terceros con los que haya previamente compartido información mantendrán acceso a la misma durante los plazos autorizados. </b></p>

<h5><b><u>REVOCACIÓN DEL CONSENTIMIENTO AL TRATAMIENTO DE SUS DATOS PERSONALES</u></b></h5>

  <p>Nuestros usuarios, como titulares de sus datos personales, pueden revocar su consentimiento para el tratamiento de sus datos personales siguiendo el mismo procedimiento que para el ejercicio de sus Derechos ARCO, en el entendido que una vez que su solicitud de revocación se encuentre a nuestra disposición, emitiremos nuestra contestación en un plazo máximo de 5 (cinco) días hábiles.</p>

<h5><b><u>OPCIONES PARA LIMITAR EL USO O DIVULGACIÓN DE SUS DATOS PERSONALES</u></b></h5>

<p>Usted, como titular de sus datos personales, puede limitar el uso o divulgación de los mismos siguiendo el mismo procedimiento que para el ejercicio de sus Derechos ARCO, en el entendido que una vez que su solicitud se encuentre a nuestra disposición, emitiremos nuestra contestación en un plazo no mayor a 5 (cinco) días hábiles. Asimismo, le hacemos notar que para limitar el uso y la divulgación de sus datos personales también se puede inscribir en el Registro Público para Evitar Publicidad (REPEP) que administra la Procuraduría Federal del Consumidor.</p>

<h5><b><u>USO DE COOKIES, WEB BEACONS Y OTRAS TECNOLOGÍAS SIMILARES</u></b></h5>

  <p>Le informamos que MAAT en los productos y servicios que ofrece a través de Internet se utilizan mecanismos como son Cookies, Web Beacons y otras tecnologías a través de las cuales se recaban datos de manera automática y simultánea, como la dirección IP de origen, navegador utilizado, sistema operativo, momento en que se accedió a la página, siendo posible monitorear su comportamiento como usuario de los servicios de Internet.</p>

  <p>Para lo anterior, MAAT les informa a los titulares que en todo momento pueden deshabilitar el uso de estos mecanismos, de acuerdo a las instrucciones que cada empresa propietaria de los browsers (navegador o visor de Internet) tiene implementado para activar y desactivar las citadas Cookies y Web Beacons.</p>

  <p>Controles del navegador: La mayoría de los navegadores le permitirán accesar a las cookies que se han almacenado en su equipo, y podrá eliminarlas de forma individual, o bloquearlas para todos los sitios web o algunos en especial. Se hace de su conocimiento que cualquier preferencia que haya establecido se perderá si elimina todas las cookies, incluyendo las opciones para optar por no utilizarlas, ya que este proceso requiere inhabilite el uso de las mismas. </p>

  <p>Para obtener más información acerca de cómo modificar la configuración del navegador para bloquear o filtrar cookies, consulte <a href="http://www.aboutcookies.org/o http://www.cookiecentral.com/faq/"></a> </p>

<h5><b><u>CAMBIOS A NUESTRO AVISO DE PRIVACIDAD</u></b></h5>

  <p>En cualquier momento podremos hacer modificaciones, cambios y/o actualizaciones al presente Aviso que sean necesarias para atender disposiciones legales aplicables, nuestras prácticas de privacidad, o por otras causas, las cuales haremos del conocimiento de nuestros usuarios mediante su publicación en nuestra página de Internet y en nuestro APP. En el Aviso se incluirá la fecha de la última versión del mismo.</p>

<h5><b><u>AUTORIZACIONES</u></b></h5>

  <p>Para estar en posibilidades de extraer y verificar información de nuestros usuarios (como es la credencial para votar, el CURP, acta de nacimiento y/o cédula profesional) en plataformas y bases de datos gubernamentales, o de otra naturaleza, debemos obtener su autorización expresa y por escrito mediante el marcado de las casillas correspondientes durante el proceso de registro y apertura de la Bóveda MAAT. Este mecanismo nos permite identificar claramente al usuario y recabar su consentimiento para estos efectos. En caso de que nuestros usuarios no estén de acuerdo con que les prestemos este servicio deberán abstenerse de marcar tales casillas.</p>

  <p>Al proporcionarnos sus datos personales y marcar la casilla de aceptación, expresamente lo reconoce y acepta. En cualquier caso, procedamos al tratamiento de los datos personales de la forma en que se señala en el presente y con estricto apego al mismo, la Ley, su Reglamento y demás legislación aplicable.</p>

  <p>Manifiesto que he leído, entiendo y consiento el presente Aviso de Privacidad y que estoy de acuerdo en que una copia del mismo se integre a mi Bóveda MAAT.</p>
  <p class="upgrade"><b>FECHA DE ÚLTIMA ACTUALIZACIÓN: 25 DE ABRIL DEL 2019.</b></p>
</section>
<app-footer></app-footer>
</section>
