<section class="notice">
  <app-navbar></app-navbar>
<section class="privacy">
  <br>
  <h4><b>MAAT INTELIGENCIA AVANZADA</b></h4>
  <h4><b>AVISO DE PRIVACIDAD PARA NUESTROS USUARIOS</b></h4>
  <br>
  <p>MAAT Inteligencia Avanzada, S.A.P.I. de C.V. (en lo sucesivo identificada como "MAAT"), con domicilio en Bosques de Radiatas NO. 44,
    Oficina 303. Col. Bosques de las Lomas. Delegación Cuajimalpa de Morelos, C.P. 05120, Ciudad de México,
    en atención a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la "<u>Ley</u>"), su Reglamento,
    los Lineamientos del Aviso de Privacidad y nuestras políticas internas, ponemos a su disposición el presente
    aviso de privacidad (el "<u>Aviso de Privacidad</u>").
  </p>
  <p>
    En MAAT nos gusta describirnos como un “bóveda virtual” o  “wallet” de documentos personales. Esto quiere decir que una vez que ha
    abierto una cuenta en nuestra aplicación (la “<u>Bóveda MAAT</u>”), podrán mantener en un solo lugar, de forma ordenada, concentrada, y
    accesible, sus documentos personales y estarán en posibilidades de compartirlos con entidades ajenas a MAAT y solo sí así lo decidiera.
  </p>
  <p>
    Sus datos personales son muy importantes para nosotros y serán tratados con base en los principios de licitud, consentimiento,
     información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad, en términos de la legislación   aplicable   y
     en   apego   a   los   deberes   de   seguridad   y confidencialidad
  </p>
  <p>Por lo anterior le informamos lo siguiente:</p>
  <h5><b><u>DATOS PERSONALES TRATADOS</u></b></h5>
  <p>Hacemos de su conocimiento que los siguientes datos, son indispensables para
    identificarlo y abrir una Bóveda MAAT:</p>

    <ul style="padding-left: 30px">
      <li>Nombre completo</li>
      <li>Correo electrónico</li>
      <li>Número de teléfono celular</li>
      <li>Fotografía</li>
    </ul>

  <p>Una vez que ha abierto su Bóveda MAAT, para poder prestarle nuestros servicios, podrá almacenar los siguientes documentos:</p>

  <ul style="padding-left: 30px">
      <li>Identificación Oficial (IFE/INE)</li>
      <li>Acta de Nacimiento</li>
      <li>Comprobante de domicilio</li>
      <li>Clave Única del Registro de Población (CURP)</li>
      <li>Cédula de Identificación Fiscal (CIF)</li>
      <li>Cédula del Seguro Social</li>
      <li>Comprobante de estudios</li>
      <li>Licencia de conducir</li>
      <li>Cédula Profesiona</li>
      <li>Pasaporte</li>
      <li>US Visa</li>
  </ul>

  <p>Para el correcto desarrollo de las finalidades primarias, MAAT puede recabar de los
     documentos que usted almacene en su Bóveda MAAT, los datos referentes a las siguientes categorías:</p>

  <ul style="padding-left: 30px">
      <li>Identificación</li>
      <li>Contacto</li>
      <li>Académicos</li>
      <li>Laborales</li>
      <li>Patrimoniales y/o financieros*</li>
      <li>Datos de tránsito y movimientos migratorios*</li>
      <li>Datos biométricos*</li>
  </ul>

  <p>Los datos identificados con un asterisco (*) los consideramos datos sensibles, por lo que al elegir y
    realizar la acción de almacenarlos en nuestra Bóveda MAAT, usted expresa y otorga su consentimiento para
    que sea tratados, acorde a las finalidades primarias y descritas a continuación.</p>

<h5><b><u>FINALIDADES PRIMARIAS DEL TRATAMIENTO</u></b></h5>

  <p>En MAAT tratamos sus datos personales para estar en posibilidades de prestarles los servicios que ofrece la Bóveda MAAT:</p>

  <p><b>1. Apertura cuenta en la Bóveda electrónica</b></p>
  <p>Al   descargar   nuestra   aplicación   se   le   solicitarán   sus   datos   para asociarlo a la cuenta.</p>

  <p>Le hacemos notar que en caso de que nuestros usuarios decidan compartir sus datos con terceros haciendo uso de nuestra plataforma electrónica, MAAT no se hará responsable del tratamiento que le den a la información los terceros receptores de la misma,
    por lo que le recomendamos ampliamente a nuestros usuarios que revisen los avisos de privacidad y términos y condiciones emitidos por todo tercero al que nuestros usuarios le entreguen sus datos personales.</p>

  <p><b>2.Almacenamiento seguro de su información</b></p>
  <p>La Bóveda MAAT funciona como un expediente electrónico que se encuentra alojado de forma segura en nuestra plataforma electrónica
    (la   “<u>Plataforma   MAAT</u>”).   La   Bóveda   MAAT   se   conforma   por:   los documentos e información que nos es proporcionada
     directamente por usted a través de nuestra aplicación “MAAT”.</p>

  <p><b>3.Validación de identidad mediante comparación biométrica</b></p>
  <p>Comparación de la fotografía que ingresa a nuestra aplicación contra los documentos de identificación oficial que almacene en la Bóveda.</p>

  <p><b>4.Certificación de datos mediante la verificación de información con otras bases de datos oficiales.</b></p>
  <p>En   la   medida   en   que   usted   almacene   documentación,   esta   será certificada,   es   decir   se   revisará   la   autenticidad
    del   documento almacenado, contra la contenida en bases de datos gubernamentales oficiales disponibles.
    Por ejemplo, podemos verificar la autenticidad de una credencial para votar contra la base de datos del Instituto Nacional Electoral.</p>

  <p><b>5.Facilitar   el   compartir   su   documentación   con   entidades   o personas ajenas a MAAT que así usted lo decida y/o requiera.</b></p>
  <p>A través de la Bóveda MAAT y haciendo uso de nuestra tecnología, usted   puede   compartir   con   otras   entidades   su   documentación personal.
    MAAT   identifica   y   conserva   constancia,   por   medios automáticos donde por regla general no hay intervención humana, de cualquier movimiento
    de la documentación almacenada por usted, incluyendo: transmisión a terceros sobre su información, los permisos que le otorga al destinatario
    (por ejemplo, para revisar o imprimir la información personal) y sus revocaciones y denegaciones.</p>

<h5><b><u>FINALIDADES SECUNDARIAS DEL TRATAMIENTO</u></b></h5>

  <p>Como finalidades secundarias tenemos el tratamiento de datos para fines de mercadotecnia, publicidad, prospección comercial como:</p>

  <ul style="padding-left: 30px">
    <li>La generación de estadísticas a través de la prospección de clientes/usuarios potenciales, en los canales de comunicación de la empresa.</li>
    <li>Envío de comunicación y/o mercadotécnica.</li>
  </ul>

  <p>Los únicos datos que MAAT podría recabar al consultarnos información, a través de sus redes sociales y/o a través de nuestra aplicación son:</p>
  <ul style="padding-left: 30px">
    <li>Nombre y</li>
    <li>Correo electrónico.</li>
  </ul>

  <p>Usted cuenta con un plazo de plazo de cinco días para que, de ser el caso, manifieste, a través del Procedimiento de atención a solicitudes de Derechos
    ARCO que se describe más adelante, su negativa para el tratamiento de sus datos personales para esta finalidad secundaria.</p>

<h5><b><u>FORMA EN QUE SE COMPARTEN SUS DATOS PERSONALES</u></b></h5>

<p><b>Solo usted, haciendo uso de su Bóveda MAAT, pueden compartir su información personal con terceros (entidades o personas ajenas a MAAT).</b>
  Como explicamos en la sección anterior, nuestra tecnología le permite:</p>

  <ul style="padding-left: 30px">
    <li>Otorgar al tercero receptor de la información los permisos especiales que cada usuario decida, incluyendo: temporalidad del acceso a la información
      (por tiempo o acto específico), permiso para imprimir, visualización total o parcial del documento, etc.</li>
    <li>Compartir   documentación   de   la   Bóveda   Maat   a   aplicaciones   de terceros.</li>
    <li>Identificar, por medios automáticos donde por regla general no hay intervención   humana,   todos   los   datos   de   la   transmisión   de   su
      información a los terceros, incluyendo la fecha y hora en que se torizó,   destinatario,   temporalidad   y,   en   su   caso,   los   permisos especiales otorgados.</li>
  </ul>

  <p>Le hacemos notar que en caso de que decida compartir su documentación con terceros (entidades o personas) haciendo uso de nuestra plataforma electrónica,
    MAAT no se hará responsable del tratamiento que le den a la información   los   terceros   receptores   de   la   misma,   por   lo   que   le recomendamos
    ampliamente, antes de compartir cualquier documentación, revise el aviso de privacidad, términos y condiciones emitidos por el tercero receptor   o   en
    caso   de   compartirlos   a   personas   físicas   verifique   la confiabilidad del receptor.</p>

  <p><b>MAAT no transfiere datos personales de ningún usuario a ningún tercero como parte de la prestación de nuestros servicios. MAAT solamente compartirá datos
    personales en los supuestos en que la Ley disponga que la transferencia se deba llevar a cabo; esto es: (i) que exista una disposición legal que nos obligue
    a hacerlo, (ii) que exista una solicitud por parte de una autoridad competente, (iii) que la   transferencia   sea   necesaria   o   legalmente   exigible
    para salvaguardar   un   interés   público   o   para   la   procuración   o administración de justicia, o (iv) que la transferencia sea precisa para el
    reconocimiento, ejercicio o defensa de un derecho en un proceso judicial.</b></p>

<h5><b><u>CONFIDENCIALIDAD Y MEDIDAS DE SEGURIDAD</u></b></h5>

<p>La   confidencialidad   y   protección   de   los   datos   personales   de   nuestros usuarios es una prioridad para nosotros, por lo que hemos establecido y
  mantenemos medidas de seguridad administrativas, técnicas y físicas para evitar su daño, pérdida, alteración y destrucción, así como su uso, acceso, distribución o divulgación indebida.</p>

  <h5><b><u>DERECHOS ARCO</u></b></h5>

  <p>Como titular de sus datos personales, tiene derecho a: (i) acceder a sus datos personales en nuestra posesión y conocer los detalles del tratamiento de
    los   mismos,   (ii)   rectificarlos   en   caso   de   estar   desactualizados,   ser inexactos o estar incompletos, (iii) cancelarlos, u (iv) oponerse
    al tratamiento de los mismo para fines específicos. Estos derechos se conocen como los “<u>Derechos ARCO</u>”.</p>

    <h5><b><u>PROCEDIMIENTO DE SOLICITUD DE ATENCIÓN A  DERECHOS ARCO</u></b></h5>

    <p>Para el ejercicio de Derechos ARCO deberá enviar una comunicación al correo   electrónico <a href="mailto:privacidad@maatai.com">privacidad@maatai.com</a>,
      acompañada   de   la   siguiente información y documentación:</p>

  <ol style="padding-left: 30px" type="I">
      <li>Nombre completo del titular.</li>
      <li>Teléfono y correo electrónico que registro en la Bóveda MAAT.</li>
      <li>Domicilio o correo electrónico para comunicarle la respuesta a su solicitud.</li>
  </ol>

  <p>Adjuntar la siguiente documentación:</p>

  <ol style="padding-left: 30px" type="I">
    <li>Identificación oficial que acredite la identidad del titular.</li>
  </ol>

  <p>En caso de requerir la representación legal del titular deberá adjuntarse:</p>

  <ol style="padding-left: 30px" type="I">
    <li>La identificación oficial del titular y del representante legal.</li>
    <li>Poder jurídico o legal que acredite la representación del titular.</li>
  </ol>

  <p>Respecto al derecho ARCO a ejercer, favor de indicar:</p>

  <ol style="padding-left: 30px" type="I">
    <li>La descripción clara y precisa de los datos personales respecto de los   que   se   busca
      ejercer   alguno   de   los   derechos   antes mencionados.</li>
    <li>Cualquier otro elemento o documento que facilite la localización de los datos personales.</li>
  </ol>

  <p>Una vez que la solicitud para ejercer Derechos ARCO se encuentre a nuestra disposición, se emitirá
    la contestación en un plazo no mayor a 20 (veinte) días, a partir de su fecha de recepción. </p>

  <p>En caso de requerir información adicional de su solicitud, se le hará saber dentro del plazo de 5 días
    (cinco), a partir de la fecha de recepción de la solicitud. Usted contará con 10 (diez) días para atender
    el requerimiento de información, pasado el plazo usted deberá volver a ingresar su solicitud.</p>

  <p>Una vez recibida nuestra respuesta sobre la confirmación de la atención de la solicitud, MAAT resolverá la solicitud en un plazo de 15 (quince) días.</p>

  <p>Los plazos antes referidos podrían ser ampliados una sola vez por un periodo igual, siempre y cuando así
    lo justifiquen las circunstancias del caso. En cas ode   no   responder   a   nuestra   resolución   con
    alguna   confirmación, entenderemos que de buena fe que usted se encuentra conforme con nuestra resolución.</p>

  <p>Le hacemos notar que como responsable de los datos personales, podremos negar el ejercicio de Derechos ARCO en
    los supuestos que lo permita la Ley y su Reglamento, en cuyo caso informaremos las razones de dicha negativa al solicitante.
    La negativa podrá ser parcial, en cuyo caso efectuaremos el acceso, rectificación, cancelación u oposición en la parte procedente.</p>

<h5><b><u>REVOCACIÓN DEL CONSENTIMIENTO AL TRATAMIENTO DE SUS DATOS PERSONALES</u></b></h5>

  <p>Usted como titular de sus datos personales, podrá revocar su consentimiento para   el   tratamiento   de   sus   datos   personales
    siguiendo   el   mismo procedimiento que para el ejercicio de sus Derechos ARCO, en el entendido que   una   vez   que   su   solicitud
    de   revocación   se   encuentre   a   nuestra disposición, emitiremos nuestra contestación en un plazo máximo de 5 (cinco) días hábiles.</p>

  <p><b>Le hacemos notar que en cualquier momento podrá optar por dar debaja su información de su Bóveda MAAT y cancelar su cuenta. Es decir, en
    cualquier momento, pueden pedirnos que eliminemos de su cuenta su documentación mediante el procedimiento antes descrito o  bien  dar  de
    baja   sus  datos   y  documentación   almacenada   en nuestra aplicación, en cuyo caso: (i) nosotros NO nos quedaremos con copia de la misma,
    (ii) los terceros (entidades) con los que haya previamente compartido información mantendrán acceso a la misma durante los plazos autorizados
    por usted y el responsable receptor. (iii) MAAT no contará con el poder de eliminar, la documentación que haya enviado a través de la Bóveda de
    MAAT a otras aplicaciones y/o personas.</b></p>

  <h5><b><u>DUDAS, QUEJAS Y COMENTARIOS</u></b></h5>

<p>El <b>Oficial de Protección de Datos Personales de MAAT</b> es la persona encargada de dar trámite y seguimiento a sus solicitudes y de fomentar la
  protección de datos personales al interior de nuestra organización, a quien se   puede   contactar   en   la   siguiente   cuenta   de   correo   electrónico <a href="mailto:privacidad@maatai.com">privacidad@maatai.com</a>.</p>

<h5><b><u>OPCIONES PARA LIMITAR EL USO O DIVULGACIÓN DE SUS DATOSPERSONALES</u></b></h5>

  <p>Usted,   como   titular   de   sus   datos   personales,   puede   limitar   el   uso   o divulgación de los mismos siguiendo el mismo procedimiento que para el ejercicio de sus Derechos ARCO, en el entendido que una vez que su solicitud
    se encuentre a nuestra disposición, emitiremos nuestra contestación en un plazo no mayor a 5 (cinco) días hábiles.</p>

  <p>Asimismo, le hacemos notar que para limitar el uso y la divulgación de sus datos   personales   puede   inscribirse   en   el   Registro
    Público   para   Evitar Publicidad (REPEP) que administra la Procuraduría Federal del Consumidor.</p>

  <p><b>Todos los trámites antes expuestos son gratuitos, y previo acuerdo entre titular y responsable se cobrará el medio por el cual el
    titular requiera la respuesta o envió de su información (en su caso).</b></p>

<h5><b><u>USO DE COOKIES, WEB BEACONS Y OTRAS TECNOLOGÍAS SIMILARES</u></b></h5>

  <p>Le informamos que MAAT en los productos y servicios que ofrece a través de Internet se utilizan mecanismos como son Cookies, Web Beacons
    y otras tecnologías a través de las cuales se recaban datos de manera automática y simultánea, como la dirección IP de origen, navegador
    utilizado, sistema operativo,   momento   en   que   se   accedió   a   la   página,   siendo   posible monitorear su comportamiento como
    usuario de los servicios de Internet.</p>

  <p>Para lo anterior, MAAT les informa a los titulares que en todo momento pueden   deshabilitar   el   uso   de   estos   mecanismos,   de   acuerdo   a   las
    instrucciones que cada empresa propietaria de los browsers (navegador o visor de Internet) tiene implementado para activar y desactivar las citadas Cookies y Web Beacons.</p>

  <p>Controles   del  navegador:  La  mayoría  de  los  navegadores   le  permitirán acceder a las cookies que se han almacenado en su equipo, y podrá
    eliminarlas de forma individual, o bloquearlas para todos los sitios web o algunos en especial. Se hace de su conocimiento que cualquier preferencia que haya establecido
    se perderá si elimina todas las cookies, incluyendo las opciones para optar por no utilizarlas, ya que este proceso requiere inhabilite el uso de las mismas.</p>

  <p>Para obtener más información acerca de cómo modificar la configuración del navegador     para     bloquear     o     filtrar     cookies,     consulte
    <a href="http://www.aboutcookies.org/ohttp://www.cookiecentral.com/faq/"> http://www.aboutcookies.org/ohttp://www.cookiecentral.com/faq/</a></p>

  <h5><b><u>CAMBIOS A NUESTRO AVISO DE PRIVACIDAD</u></b></h5>

  <p>En   cualquier   momento   podremos   hacer   modificaciones,   cambios   y/o actualizaciones   al   presente   Aviso   de   privacidad,   mismos   que   serán
    necesarios para atender disposiciones legales aplicables, nuestras prácticas de privacidad, o por otras causas, las cuales haremos de su conocimiento mediante   su
    publicación   en   nuestra   página   de   Internet   y   en   nuestra aplicación.</p>

  <h5><b><u>CONSENTIMIENTO</u></b></h5>

  <p>Para estar en posibilidades de extraer y verificar información de nuestros usuarios (como es la credencial para votar, el CURP, acta de nacimiento y/o cédula profesional)
    en plataformas y bases de datos gubernamentales, o de otra naturaleza, debemos obtener su autorización expresa y por escrito mediante el marcado de la casilla correspondiente
    durante el proceso de registro   y   apertura   de   la   Bóveda   MAAT.   Este   mecanismo   nos   permite identificar claramente al usuario y recabar su consentimiento para estos efectos.
    En caso de que nuestros usuarios no estén de acuerdo con que les prestemos este servicio deberán abstenerse de marcar tales casillas.</p>

  <p>Al proporcionarnos sus datos personales y marcar la casilla de aceptación, al crear su cuenta, expresamente lo reconoce y acepta que procedamos al tratamiento de los datos
    personales de la forma en que se señala en el presente y con estricto apego al mismo, la Ley, su Reglamento y demás legislación aplicable.</p>

  <p>Comprende   que   la   transferencia   de   sus   datos   o   documentación   que almacene en la Bóveda de MAAT, será bajó su autorización y deslinda a MAAT de la responsabilidad que conlleve esta transferencia de datos a entidades, personas y aplicaciones ajenas a MAAT.</p>
  <p class="upgrade"><b>FECHA DE ÚLTIMA ACTUALIZACIÓN: 21 DE ABRIL DEL 2020.</b></p>
</section>
<app-footer></app-footer>
</section>
