<section class="notice">
  <app-navbar></app-navbar>
<section class="privacy">
  <br>
  <h4><b>{{ 'privacy.titlemaat' | translate }}</b></h4>
  <h4><b>{{ 'privacy.subtitlemaat' | translate }}</b></h4>
  <br>
  <p>{{ 'privacy.addressprivacy' | translate }}<u>{{ 'privacy.law' | translate }}</u>{{ 'privacy.interpolicies' | translate }} '<u>{{ 'cookies.alertCookies' | translate }}</u>').
  </p>
  <p>
    {{ 'privacy.virtualvault' | translate }}<u>{{ 'privacy.maatvault' | translate }}</u>{{ 'privacy.personaldocuments' | translate }}
  </p>
  <p>
    {{ 'privacy.personaldata' | translate }}
  </p>
  <p>{{ 'privacy.inform' | translate }}</p>
  <h5><b><u>{{ 'privacy.dataprocessed' | translate }}</u></b></h5>
  <p>{{ 'privacy.identifyuser' | translate }}</p>

    <ul style="padding-left: 30px">
      <li>{{ 'privacy.fullname' | translate }}</li>
      <li>{{ 'privacy.email' | translate }}</li>
      <li>{{ 'privacy.phonenumber' | translate }}</li>
      <li>{{ 'privacy.picture' | translate }}</li>
    </ul>

  <p>{{ 'privacy.provide' | translate }}</p>

  <ul style="padding-left: 30px">
      <li>{{ 'privacy.idmex' | translate }}</li>
      <li>{{ 'privacy.birthcertificate' | translate }}</li>
      <li>{{ 'privacy.proofresidency' | translate }}</li>
      <li>{{ 'privacy.uniquekey' | translate }}</li>
      <li>{{ 'privacy.taxpaper' | translate }}</li>
      <li>{{ 'privacy.securitynumber' | translate }}</li>
      <li>{{ 'privacy.proofstudy' | translate }}</li>
      <li>{{ 'privacy.driverlicense' | translate }}</li>
      <li>{{ 'privacy.profesionalid' | translate }}</li>
      <li>{{ 'privacy.passport' | translate }}</li>
      <li>{{ 'privacy.usvisa' | translate }}</li>
  </ul>

  <p>{{ 'privacy.collectdata' | translate }}</p>

  <ul style="padding-left: 30px">
      <li>{{ 'privacy.identification' | translate }}</li>
      <li>{{ 'privacy.contact' | translate }}</li>
      <li>{{ 'privacy.academics' | translate }}</li>
      <li>{{ 'privacy.work' | translate }}</li>
      <li>{{ 'privacy.assets' | translate }}</li>
      <li>{{ 'privacy.transitdata' | translate }}</li>
      <li>{{ 'privacy.biometricdata' | translate }}</li>
  </ul>

  <p>{{ 'privacy.expressconsent' | translate }}</p>

<h5><b><u>{{ 'privacy.purposesdata' | translate }}</u></b></h5>

  <p>{{ 'privacy.servicesprovide' | translate }}</p>

  <p><b>{{ 'privacy.accountopen' | translate }}</b></p>
  <p>{{ 'privacy.downloadingapp' | translate }}</p>

  <p><b>{{ 'privacy.storage' | translate }}</b></p>
  <p>{{ 'privacy.electronicfile' | translate }}<u>{{ 'privacy.platformmaat' | translate }}</u>{{ 'privacy.documents' | translate }}</p>

  <p><b>{{ 'privacy.biometriccomparison' | translate }}</b></p>
  <p>{{ 'privacy.comparepicture' | translate }}</p>

  <p><b>{{ 'privacy.datacertification' | translate }}</b></p>
  <p>{{ 'privacy.authenticity' | translate }}</p>

  <p><b>{{ 'privacy.sharingdata' | translate }}</b></p>
  <p>{{ 'privacy.identifykeep' | translate }}</p>

<h5><b><u>{{ 'privacy.secondarypurposes' | translate }}</u></b></h5>

  <p>{{ 'privacy.commercial' | translate }}</p>

  <ul style="padding-left: 30px">
    <li>{{ 'privacy.estatistics' | translate }}</li>
    <li>{{ 'privacy.marketing' | translate }}</li>
  </ul>

  <p>{{ 'privacy.furtherdetails' | translate }}</p>
  <ul style="padding-left: 30px">
    <li>{{ 'privacy.nameand' | translate }}</li>
    <li>{{ 'privacy.email' | translate }}.</li>
  </ul>

  <p>{{ 'privacy.period' | translate }}</p>

<h5><b><u>{{ 'privacy.howsharing' | translate }}</u></b></h5>

<p><b>{{ 'privacy.exclusively' | translate }}</b>
  {{ 'privacy.explained' | translate }}</p>

  <ul style="padding-left: 30px">
    <li>{{ 'privacy.permitsthird' | translate }}</li>
    <li>{{ 'privacy.thirdparties' | translate }}</li>
    <li>{{ 'privacy.specialpermits' | translate }}</li>
  </ul>

  <p>{{ 'privacy.weinform' | translate }}</p>

  <p><b>{{ 'privacy.nottransfer' | translate }}</b></p>

<h5><b><u>{{ 'privacy.securitymeasures' | translate }}</u></b></h5>

<p>{{ 'privacy.protectionpriority' | translate }}</p>

  <h5><b><u>{{ 'privacy.arcorights' | translate }}</u></b></h5>

  <p>{{ 'privacy.ownerdata' | translate }}<u>{{ 'privacy.rightarco' | translate }}</u>”.</p>

    <h5><b><u>{{ 'privacy.procedure' | translate }}</u></b></h5>

    <p>{{ 'privacy.exercisearco' | translate }} <a href="mailto:privacidad@maatai.com">privacidad@maatai.com</a>,
      {{ 'privacy.documentation' | translate }}</p>

  <ol style="padding-left: 30px" type="I">
      <li>{{ 'privacy.ownername' | translate }}</li>
      <li>{{ 'privacy.phoneemail' | translate }}</li>
      <li>{{ 'privacy.addressemail' | translate }}</li>
  </ol>

  <p>{{ 'privacy.attach' | translate }}</p>

  <ol style="padding-left: 30px" type="I">
    <li>{{ 'privacy.officialid' | translate }}</li>
  </ol>

  <p>{{ 'privacy.ownerslegal' | translate }}</p>

  <ol style="padding-left: 30px" type="I">
    <li>{{ 'privacy.ownerand' | translate }}</li>
    <li>{{ 'privacy.power' | translate }}</li>
  </ol>

  <p>{{ 'privacy.indicate' | translate }}</p>

  <ol style="padding-left: 30px" type="I">
    <li>{{ 'privacy.description' | translate }}</li>
    <li>{{ 'privacy.otherelement' | translate }}</li>
  </ol>

  <p>{{ 'privacy.requestarco' | translate }} </p>

  <p>{{ 'privacy.notification' | translate }}</p>

  <p>{{ 'privacy.requestconfirmation' | translate }}</p>

  <p>{{ 'privacy.terms' | translate }}</p>

  <p>{{ 'privacy.applicablepart' | translate }}</p>

<h5><b><u>{{ 'privacy.withdrawal' | translate }}</u></b></h5>

  <p>{{ 'privacy.ownerwithdraw' | translate }}</p>

  <p><b>{{ 'privacy.cancelaccount' | translate }}</b></p>

  <h5><b><u>{{ 'privacy.doubtscomments' | translate }}</u></b></h5>

<p>{{ 'privacy.the' | translate }} <b>{{ 'privacy.officialmaat' | translate }}</b> {{ 'privacy.individualcharge' | translate }} <a href="mailto:privacidad@maatai.com">privacidad@maatai.com</a>.</p>

<h5><b><u>{{ 'privacy.optionslimit' | translate }}</u></b></h5>

  <p>{{ 'privacy.ownerlimit' | translate }}</p>

  <p>{{ 'privacy.procedureslimit' | translate }}</p>

  <p><b>{{ 'privacy.procedures' | translate }}</b></p>

<h5><b><u>{{ 'privacy.usecookies' | translate }}</u></b></h5>

  <p>{{ 'privacy.mechanismscookies' | translate }}</p>

  <p>{{ 'privacy.maatinforms' | translate }}</p>

  <p>{{ 'privacy.browsercontrols' | translate }}</p>

  <p>{{ 'privacy.modifyingbrowser' | translate }}
    <a href="http://www.aboutcookies.org/"> http://www.aboutcookies.org/</a> {{ 'privacy.or' | translate }}
    <a href="http://www.cookiecentral.com/faq/"> http://www.cookiecentral.com/faq/</a></p>

  <h5><b><u>{{ 'privacy.changenotice' | translate }}</u></b></h5>

  <p>{{ 'privacy.maymodify' | translate }}</p>

  <h5><b><u>{{ 'privacy.consent' | translate }}</u></b></h5>

  <p>{{ 'privacy.toextract' | translate }}</p>

  <p>{{ 'privacy.expresslyagree' | translate }}</p>

  <p>{{ 'privacy.understand' | translate }}</p>
  <p class="upgrade"><b>{{ 'privacy.lastmodified' | translate }}</b></p>
</section>
<app-footer></app-footer>
</section>
