.footer2 {
    background-color: #2B3C5A;
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding-top: 3.3em;
    padding-left: .8em;
    padding-right: .8em;
}
.modal-open {
    overflow:auto;
    padding-right: 0% !important;
}
.modal-content {
  padding: 1em 2em;
}

.containerFooter2 {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 0;
}

.redes {
    width: 45%;
    margin: 4.3em auto !important;
}

.column {
    width: 18%;
    align-items: center;
    text-align: center;
}
.c1 {
  width: 10em;
}
.c2 {
  text-align: right;
}
.c3 {
  text-align: left;
}

h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    width: 18em;
    margin-top: 3em;
}

p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.btn-cta {
  padding: 0;
  border: none;
  border-radius: 6px;
}
.cta {
    width: 9em;
    height: auto;
}
.lienzo {
  width: 38px;
  height: 60px;
  background: #2B3C5A;
}

.btnEs, .btnEn {
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}
.line {
  color: #FFFFFF;
}
@media only screen and (max-width: 340px){
  .hs-cta-img {
    max-width: 7em !important;
  }
}
/*Extra extra small devices type iphone 5*/
@media only screen and (max-width: 399px){
    .footer2 {
        padding-top: 0;
    }
    .btnContact {
        margin-top: 0%;
    }
    .cta {
      width: 7em !important;
      height: auto !important;
    }
    .c1 {
      width: 40%;
    }
    .hs-cta-img {
      max-width: 8em;
    }
}
 /* Extra small devices (phones, 400px and down) */
@media only screen and (min-width: 400px) and (max-width: 600px) {
    .footer2 {
        padding-top: 1em;
    }
    .btnContact {
        margin-top: 0%;
    }
    .cta {
      width: 10em;
      height: auto !important;
    }
    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;
    }
    .hs-cta-img {
      max-width: 10em;
    }
}
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer2 {
        padding-top: 2em;
    }
    .btnDesktop {
        margin: 0;
    }
    .redes {
        width: 80%;
    }
    .cta {
      width: 8em;
    }

.lienzo {
  width: 30px;
  height: 60px;
  background: #2B3C5A;
}
    .c1 {
        width: 40%;
    }
    .c2 {
      text-align: right;
    }
    .c3 {
      text-align: left;
    }
    h5 {
        margin: 0% !important;
        font-size: 24px;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 600px) and (max-width: 800px){
  img.cta {
    width: 10em !important;
  }
  .c1 {
    width: 30%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
