.footer2 {
    padding-right: 0% !important;
    background-color: #2B3C5A;
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding-top: 2em;
    padding-left: .8em;
    padding-right: .8em;
}
.modal-open {
    overflow:auto;
    padding-right: 0% !important;
}

.containerFooter2 {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-top: 1em;
    padding-bottom: 0;
}

.redes {
    width: 35%;
    margin: 0 auto !important;
}

.column {
    padding-left: 1em;
    padding-right: 1em;
    width: 22%;
    align-items: center;
        text-align: center;
}
.c1 {
  align-items: center;
        text-align: center;
}

h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    width: 18em;
    margin-top: 3em;
}

p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.cta {
    width: 9.5em !important;
    height: 2.8em;
}

.btnContact {
    background-color: #F86F60;
    border: #F86F60;
    border-radius: 6px;
    color: #FAF9F9;
    padding: 6px 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 12em;
    height: 2.4em;
    margin-top: 1em;
}
.btnEs, .btnEn {
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}
.line {
  color: #FFFFFF;
}

/*Modal*/
.modal-content {
    border: 2px solid #FE3618 !important;
    text-align: center;
    max-width: 720px;
}
 .close{
     text-align: left !important;
     margin-left: 15px !important;
     margin-top: 15px !important;
 }

 h5{
    color: #263069;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
    margin: 0%;
 }

.txtModal{
    font-family: 'Lato', sans-serif;
    color: #263069;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
 }

 .input-lg {
    width: 80%;
    height: 40px;
    border: 1px solid #FE3618;
    border-radius: 6px;
    align-items: center;
 }

 .comments {
    border-bottom: 1px solid #FE3618 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0% !important;
 }

 .btn-lg {
     width: 12em !important;
     background-color: #FE3618 !important;
     color: white !important;
     border: none;
     margin: 1.5em 0;
 }
/*Extra extra small devices type iphone 5*/
@media only screen and (max-width: 399px){
    .footer2 {
        padding-top: 0;
    }
    .btnContact {
        margin-top: 0%;
    }
    .cta {
      width: 7.5em !important;
      height: auto !important;
      padding-left: 0%;
    }
    .c1 {
        padding-left: 10px;
        align-items: center;
        text-align: center;
    }
}
 /* Extra small devices (phones, 400px and down) */
@media only screen and (min-width: 400px) and (max-width: 600px) {
    .footer2 {
        padding-top: 1em;
    }
    .btnContact {
        margin-top: 0%;
    }
    .cta {
      width: 10em !important;
      height: auto !important;
    }
    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;
    }
}
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer2 {
        padding-top: 2em;
    }
    .btnDesktop {
        margin: 0;
    }
    .redes {
        width: 80%;
    }
    .cta {
      width: 10.5em;
    }
    .c1 {
        width: 50%;
        align-items: center;
        text-align: center;
    }
    h5 {
        margin: 0% !important;
        font-size: 24px;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .modal-title {
        margin: 0% !important;
        width: 100%;
    }
    .txtModal {
        font-size: 16px;
        padding: 1em 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 600px) and (max-width: 800px){
  img.cta {
    width: 10em !important;
  }
  .c1 {
    width: 30%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
