<section class="footer2">
    <section class="containerFooter2">
      <div class="row">
        <section *ngIf="language.visibleDivEs">
          <!--Contátanos-->
              <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn-cta" style="margin-right: 7px;">
                <img class="hs-cta-img" id="hs-cta-img-f39fc75d-68e2-415f-8998-1662f0661443" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/6971767/f39fc75d-68e2-415f-8998-1662f0661443.png"  alt="Contáctanos"/>
              </button>
          <!--Demo-->
      <!--HubSpot Call-to-Action Code -->
      <span class="hs-cta-wrapper" style="margin-left: 2em; vertical-align: bottom;" id="hs-cta-wrapper-219739c2-c1f2-4250-a52e-6ee404f66861">
        <span class="hs-cta-node hs-cta-219739c2-c1f2-4250-a52e-6ee404f66861" id="hs-cta-219739c2-c1f2-4250-a52e-6ee404f66861">
          <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
          <a href="https://cta-redirect.hubspot.com/cta/redirect/6971767/219739c2-c1f2-4250-a52e-6ee404f66861"  target="_blank" >
            <img class="hs-cta-img" id="hs-cta-img-219739c2-c1f2-4250-a52e-6ee404f66861" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/6971767/219739c2-c1f2-4250-a52e-6ee404f66861.png"  alt="Agendar Demo"/>
          </a>
        </span>
        <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
        <script type="text/javascript"> hbspt.cta.load(6971767, '219739c2-c1f2-4250-a52e-6ee404f66861', {}); </script>
      </span>
      <!-- end HubSpot Call-to-Action Code -->
        </section>
        <section *ngIf="language.visibleDivEn">
          <!--Contátanos-->
          <button type="button" data-toggle="modal" data-target="#exampleModalen" class="btn-cta" style="margin-right: 40px;">
            <img class="hs-cta-img" id="hs-cta-img-370221ec-4e6b-4ade-9cfb-e75d7618cb8d" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/6971767/370221ec-4e6b-4ade-9cfb-e75d7618cb8d.png"  alt="Contact us"/>
          </button>
          <!--Demo-->
            <span style="margin-right: 4px;" class="hs-cta-wrapper" id="hs-cta-wrapper-5bf4552e-073a-48b6-929b-f80a0e670454">
              <span class="hs-cta-node hs-cta-5bf4552e-073a-48b6-929b-f80a0e670454" id="hs-cta-5bf4552e-073a-48b6-929b-f80a0e670454">
                <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                <a href="https://cta-redirect.hubspot.com/cta/redirect/6971767/5bf4552e-073a-48b6-929b-f80a0e670454"  target="_blank" >
                  <img class="hs-cta-img" id="hs-cta-img-5bf4552e-073a-48b6-929b-f80a0e670454" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/6971767/5bf4552e-073a-48b6-929b-f80a0e670454.png"  alt="Schedule Demo"/>
                </a>
              </span>
              <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
              <script type="text/javascript"> hbspt.cta.load(6971767, '5bf4552e-073a-48b6-929b-f80a0e670454', {}); </script>
            </span>
        </section>
      </div>
        <div class="row redes">
            <div class="column">
              <a href="https://www.facebook.com/maataimx/" target="_blank">
                <img src="assets/facebook.svg" alt="Facebook">
              </a>
            </div>
            <div class="column">
              <a href="https://www.instagram.com/maat_ai/" target="_blank">
                <img src="assets/instagram.svg" alt="Instagram">
              </a>
            </div>
            <div class="column">
              <a href="https://twitter.com/maat_ai" target="_blank">
                <img src="assets/twitter.svg" alt="Twitter">
              </a>
            </div>
            <div class="column">
              <a href="https://api.whatsapp.com/send?phone=5535660344&text=Hola,%20me%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de%20su%20plataforma" target="_blank">
                <img src="assets/whatsapp.svg" alt="Whatsapp">
              </a>
            </div>
            <div class="column">
              <a href="https://www.linkedin.com/company/maat-ai/" target="_blank">
                <img src="assets/linkedin.svg" alt="LinkedIn">
              </a>
            </div>
          </div>
        <div class="row" style="margin-top: 2em; margin-bottom: 2em; padding-right: 2px;" *ngIf="visibleDivEn">
          <div class="column c1 c2">
            <a href="https://testflight.apple.com/join/0Zrc0HME" target="_blank">
              <img src="assets/appstoreEn.svg" alt="App store" class="cta">
            </a>
          </div>
          <div class="lienzo"></div>
          <div class="column c1 c3">
            <a href="https://play.google.com/store/apps/details?id=com.maatai.maatapp&hl=en" target="_blank">
              <img src="assets/googlePlay.png" alt="Play store" class="cta">
            </a>
          </div>
      </div>
          <div class="row">
            <button class="btnEs" (click)="changeEs()">ES</button><span class="line">|</span>
            <button class="btnEn" (click)="changeEn()">EN</button>
          </div>
    <div class="row" style="margin-top: 2em; margin-bottom: 1.5em;">
      <p>©2020 | All rights reserved | <a routerLink="/aviso-de-privacidad" target="_blank" style="color: #FFFFFF;">{{ 'footer.privacy' | translate }}</a> <br>
      maat.ai - Trust and be trusted online.</p>
    </div>
    <div class="modal" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"  id="hubspotForm">
        </div>
      </div>
    </div>
    <div class="modal" id="exampleModalen" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"  id="hubspotFormEn">
        </div>
      </div>
    </div>
  </section>
  </section>
