.pageNot {
  background-image: url("../../../assets/pageNot.svg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
  min-height: 600px;
  margin: 0;
  width: 100%;
  overflow-y: hidden;
}
div {
  position: absolute;
  top: 7%;
  left: 5%;
}
img{
  width: 22em;
}
button {
  position: absolute;
  left: 21%;
  font-family: Lato;
  background-color: #F86F60;
  border: #F86F60;
  border-radius: 6px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 11.4em;
  height: 2.8em;
  cursor: pointer;
}
@media only screen and (min-width: 1100px){
  .pageNot {
    min-height: 800px;
  }
}
@media only screen and (max-width: 900px){
  /*button {
    top: 40%;
    left: 8%;
  }*/
}
@media only screen and (max-width: 800px){
  .pageNot {
    background-size: unset;
    background-position: top;
    width: 100%;
  }
  /*button {
    top: 30%;
    left: 14%;
    width: 8em;
    height: 2.3em;
  }*/
}
@media only screen and (max-width: 700px){
  /*.pageNot {
    background-size: contain;
    background-position: top;
    width: 100%;
  }*/
  /*button {
    top: 26%;
    left: 14%;
    width: 8em;
    height: 2.3em;
    font-size: 14px;
    line-height: 18px;
  }*/
}
@media only screen and (max-width: 600px){
  .pageNot {
    background-position: 70% 30%;
  }
  button {
    font-size: 15px;
    line-height: 18px;
  }
  img {
    max-width: 18em;
  };
}
@media only screen and (max-width: 500px){
  div {
    top: 3%;
    left: 50%;
    margin-left: -144px;
  }
  .pageNot {
    background-position: 65% 20%;
  }
  button {
    font-size: 15px;
    line-height: 18px;
  }
  img {
    max-width: 18em;
  };
}
@media only screen and (max-width: 400px){
  .pageNot {
    background-position: 65% 20%;
    overflow-x: hidden;
  }
  div {
    left: 50%;
    margin-left: -144px;
  }
  button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

}
