<section class="solutions">
  <div class="row">
    <h1>Soluciones</h1>
  </div>
  <div class="row">
    <div class="column c1">
      <div class="divImg">
        <img src="assets/cel2.png" alt="cel" class="imgCel2">
      </div>
      <div class="divText">
        <h5>Seguridad</h5>
        <p>Usamos reconocimiento facial para proteger tu identidad y tu información</p>
      </div>
    </div>
    <div class="column c2">
      <div class="divImg">
        <img src="assets/imgControl.png" alt="control" class="imgControl">
      </div>
      <div class="divText">
        <h5>Control</h5>
        <p>Tu información es privada (incluso para nosotros). Tú decides quién tiene acceso a ella y por cuánto tiempo.</p>
      </div>
    </div>
    <div class="column c3">
      <div class="divImg">
        <img src="assets/imgLiberty.png" alt="Libertad" class="imgLiberty">
      </div>
      <div class="divText">
        <h5>Libertad</h5>
        <p>No necesitarás llevar tus documentos contigo para identificarte</p>
      </div>
    </div>
  </div>
</section>
