<section class="solutions">
  <section class="containerSolutions">
  <div class="row">
    <div class="column c1">
      <div class="divImg">
        <img src="assets/cel2.png" alt="cel" class="imgCel2">
      </div>
      <div class="divText">
        <h5>{{ 'solutions.create' | translate }}</h5>
        <p>{{ 'solutions.textCreate' | translate }}</p>
      </div>
    </div>
    <div class="column c2">
      <div class="divImg">
        <img src="assets/imgControl.png" alt="control" class="imgControl">
      </div>
      <div class="divText">
        <h5>{{ 'solutions.upload' | translate }}</h5>
        <p>{{ 'solutions.textUpload' | translate }}</p>
      </div>
    </div>
    <div class="column c3">
      <div class="divImg">
        <img src="assets/imgLiberty.png" alt="Libertad" class="imgLiberty">
      </div>
      <div class="divText">
        <h5>{{ 'solutions.identity' | translate }}</h5>
        <p>{{ 'solutions.textIdentity' | translate }}</p>
      </div>
    </div>
  </div>
  <app-video></app-video>
  </section>
    <!--Versión móvil-->
    <section class="mobileSol">
      <div class="gradient">
      </div>
      <div class="flexbox-container">
      <div>
        <div class="row">
          <div class="column c1">
            <img src="assets/cel2.png" alt="cel" class="imgCel2">
          </div>
        </div>
        <div class="row">
          <div class="divText column">
              <h5>{{ 'solutions.upload' | translate }}</h5>
              <p>{{ 'solutions.textUpload' | translate }}</p>
          </div>
        </div>
        <div class="row">
            <div class="column c3">
              <img src="assets/imgLiberty.png" alt="Libertad" class="imgLiberty">
            </div>
        </div>
      </div>
      <div>
          <div class="row">
              <div class="column divText">
                  <h5>{{ 'solutions.create' | translate }}</h5>
                  <p>{{ 'solutions.textCreate' | translate }}</p>
              </div>
          </div>
          <div class="row">
              <div class="column c2">
                    <img src="assets/imgControl.png" alt="control" class="imgControl">          
              </div>
          </div>
          <div class="row">
            <div class="divText column">
              <h5>{{ 'solutions.identity' | translate }}</h5>
              <p>{{ 'solutions.textIdentity' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <app-video></app-video>
      </section>
      
</section>
