<section class="solutions">
  <section class="containerSolutions">
  <div class="row">
    <div class="column c1">
      <div class="divImg">
        <img src="assets/cel2.png" alt="cel" class="imgCel2">
      </div>
      <div class="divText">
        <h5>Crea tu cartera digital segura</h5>
        <p>Usamos Reconocimiento Facial para prevenir robo de identidad</p>
      </div>
    </div>
    <div class="column c2">
      <div class="divImg">
        <img src="assets/imgControl.png" alt="control" class="imgControl">
      </div>
      <div class="divText">
        <h5>Sube y guarda tus documentos</h5>
        <p>Validamos que no sean falsos o estén vencidos, y se guardan encriptados en nubes protegidas con máxima seguridad.</p>
      </div>
    </div>
    <div class="column c3">
      <div class="divImg">
        <img src="assets/imgLiberty.png" alt="Libertad" class="imgLiberty">
      </div>
      <div class="divText">
        <h5>Identificate con maat.ai</h5>
        <p>Comparte tus documentos con personas o empresas de manera rápida, fácil y segura.</p>
      </div>
    </div>
  </div>
  <app-video></app-video>
  </section>
    <!--Versión móvil-->
    <section class="mobileSol">
      <div class="flexbox-container">
      <div>
        <div class="row">
          <div class="column c1">
            <img src="assets/cel2.png" alt="cel" class="imgCel2">
          </div>
        </div>
        <div class="row">
          <div class="divText column">
              <h5>Sube y guarda tus documentos</h5>
              <p>Validamos que no sean falsos o estén vencidos, y se guardan encriptados en nubes protegidas con máxima seguridad.</p>
          </div>
        </div>
        <div class="row">
            <div class="column c3">
              <img src="assets/imgLiberty.png" alt="Libertad" class="imgLiberty">
            </div>
        </div>
      </div>
      <div>
          <div class="row">
              <div class="column divText">
                  <h5>Crea tu cartera digital segura</h5>
                  <p>Usamos Reconocimiento Facial para prevenir robo de identidad</p>
              </div>
          </div>
          <div class="row">
              <div class="column c2">
                    <img src="assets/imgControl.png" alt="control" class="imgControl">          
              </div>
          </div>
          <div class="row">
            <div class="divText column">
              <h5>Identificate con maat.ai</h5>
              <p>Comparte tus documentos con personas o empresas de manera rápida, fácil y segura.</p>
            </div>
          </div>
        </div>
      </div>
      <app-video></app-video>
      </section>
      
</section>
