.problems {
    overflow-x: hidden;
    text-align: center !important;
    color: #2F3B5A;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

h3 {
    width: 100%;
}

.title {
    background-color: #C8E3EC;
    text-align: center !important;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 50px;
    margin-bottom: 1em;
    margin-left: 0% !important;
    margin-right: 0% !important;
    width: 100%;
}

.column {
    width: 30%;
}

h4 {
    margin-bottom: 1.5em;
}

.t1, .t2 {
    width: 6em;
    margin-left: 8em;
    margin-top: 7em;
}

img {
    width: 30%;
    margin-bottom: 1.5em;
    margin-top: none !important;
}

.p2 {
    border-right: #C8E3EC;
    border-bottom: #C8E3EC;
    border-top: none !important;
    border-left: none !important;
    border-style: dashed;
    
}

.p3 {
    border-right: none !important;
    border-bottom: #C8E3EC;
    border-top: none !important;
    border-left: none !important;
    border-style: dashed;
    
}

.p5 {
    border-right: #C8E3EC;
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-style: dashed;
}

.p5, .p6 {
    padding-top: 1em;
}

p{
    padding-left: 3em;
    padding-right: 3em;
}
