<section class="problems">
  <div class="row title">
    <h3 class="txtCenter">Problemas</h3>
  </div>
  <div class="row">
    <div class="column p1">
      <div class="t1">
       <h4>Control estricto</h4>
      </div>
    </div>
    <div class="column p2">
      <h4>Gente</h4>
      <img src="assets/maze.png" alt="">
      <h5>Burocracia</h5>
      <p>Pérdida de tiempo, frustración, pérdida de la privacidad.</p>
    </div>
    <div class="column p3">
      <h4>Organizaciones</h4>
      <img src="assets/flecha.png" alt="">
      <h5>Ineficiencia</h5>
      <p>Menos productividad, mala experiencia con usuarios, riesgo de robo de información.</p>
    </div>
  </div>
  <div class="row">
      <div class="column p4">
        <div class="t2">
          <h4>Falta de control</h4>
        </div>
      </div>
      <div class="column p5">
        <img src="assets/id-card.png" alt="">
        <h5>Robo de identidad</h5>
        <p>Cualquiera puede hacerse pasar como el titular de la cuenta</p>
      </div>
      <div class="column p6">
        <img src="assets/money.png" alt="">
        <h5>Fraudes y multas</h5>
        Riesgos operativos y legales
      </div>
    </div>
</section>
