<section class="trust">
  <section class="clients">
  <h1>Clientes</h1>
  <div class="row">
    <div class="column">
      <img src="assets/terra.png" alt="Proyecto Terra" class="imgTerra logo1">
    </div>
    <div class="column">
      <img src="assets/bedu.png" alt="BEDU" class="imgBedu logo1">
    </div>
    <div class="column">
      <img src="assets/habiqo.png" alt="Habiqo" class="imgHabiqo logo1">
    </div>
    <div class="column">
      <img src="assets/smart-lending.png" alt="Smart lending" class="imgSmart logo1">
    </div>
  </div>
  <div class="row">
    <div class="column c2">
      <img src="assets/invex.png" alt="INVEX" class="imgInvex logo1">
    </div>
    <div class="column c2">
      <img src="assets/chavez-vargas.png" alt="Chavez Vargas Minutti" class="imgChavez logo1">
    </div>
  </div>
  <h1>Aliados</h1>
  <div class="row">
    <div class="column">
      <img src="assets/chm.png" alt="CHM Compliance" class="imgChm logo2">
    </div>
    <div class="column">
        <img src="assets/fil.png" alt="FIL" class="imgFil logo2">
    </div>
    <div class="column">
        <img src="assets/scotiabank.png" alt="Scotiabank" class="imgScotiabank logo2">
    </div>
    <div class="column">
      <img src="assets/kiban.png" alt="Kiban" class="imgKiban logo2">
    </div>
  </div>
  </section>
  <!--Section mobile-->
  <section class="clientsMobile">
      <h1>Clientes</h1>
      <div class="row">
        <div class="column c1">
          <img src="assets/terra.png" alt="Proyecto Terra" class="imgTerra logo1">
        </div>
        <div class="column c1">
          <img src="assets/bedu.png" alt="BEDU" class="imgBedu logo1">
        </div>
        <div class="column c1">
            <img src="assets/habiqo.png" alt="Habiqo" class="imgHabiqo logo1">
        </div>
      </div>
      <div class="row">
        <div class="column c1">
          <img src="assets/smart-lending.png" alt="Smart lending" class="imgSmart logo1">
        </div>
        <div class="column c1">
            <img src="assets/invex.png" alt="INVEX" class="imgInvex logo1">
          </div>
          <div class="column c1">
            <img src="assets/chavez-vargas.png" alt="Chavez Vargas Minutti" class="imgChavez logo1">
          </div>
      </div>
      <h1>Aliados</h1>
      <div class="row">
        <div class="column c2">
          <img src="assets/chm.png" alt="CHM Compliance" class="imgChm logo2">
        </div>
        <div class="column c2">
            <img src="assets/fil.png" alt="FIL" class="imgFil logo2">
        </div>
      </div>
      <div class="row">          
        <div class="column c2">
            <img src="assets/scotiabank.png" alt="Scotiabank" class="imgScotiabank logo2">
        </div>
        <div class="column c2">
          <img src="assets/kiban.png" alt="Kiban" class="imgKiban logo2">
        </div>
      </div>
    </section>
</section>