<section class="trust">
  <section class="clients">
  <h1 class="titleClients">{{ 'trust.clients' | translate }}</h1>
  <div class="row">
    <div class="column">
      <a href="https://proyecto-terra.com/" target="_blank">
        <img src="assets/terra.png" alt="Proyecto Terra" class="imgTerra logo1" style="width: 80%;">
      </a>
    </div>
    <div class="column">
      <a href="https://bedu.org/">
        <img src="assets/bedu.png" alt="BEDU" class="imgBedu logo1" style="width: 60%;">
      </a>
    </div>
    <div class="column">
      <a href="https://habiqo.mx/vende/" target="_blank">
        <img src="assets/habiqo.png" alt="Habiqo" class="imgHabiqo logo1" style="width: 25%;">
      </a>
    </div>
    <div class="column">
      <a href="https://smartlending.mx/" target="_blank">
        <img src="assets/smart-lending.png" alt="Smart lending" class="imgSmart logo1">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="column c2">
      <a href="https://invex.com/" target="_blank">
        <img src="assets/invex.png" alt="INVEX" class="imgInvex logo1" style="width: 85%;">
      </a>
    </div>
    <div class="column c2">
      <a href="http://ch-m.mx/inicio" target="_blank">
        <img src="assets/chavez-vargas.png" alt="Chavez Vargas Minutti" class="imgChavez logo1">
      </a>
    </div>
  </div>
  <h1 class="allies">{{ 'trust.allies' | translate }}</h1>
  <div class="row">
    <div class="column">
      <a href="http://chmcompliance.com/inicio" target="_blank">
        <img src="assets/chm.png" alt="CHM Compliance" class="imgChm logo2" style="width: 50%;">
      </a>
    </div>
    <div class="column">
      <a href="http://futureil.com/" target="_blank">
        <img src="assets/fil.png" alt="FIL" class="imgFil logo2">
      </a>
    </div>
    <div class="column">
      <a href="https://www.scotiabank.com.mx/" target="_blank">
        <img src="assets/scotiabank.png" alt="Scotiabank" class="imgScotiabank logo2" style="width: 90%">
      </a>
    </div>
    <div class="column">
      <a href="https://www.kiban.mx/" target="_blank">
        <img src="assets/kiban.png" alt="Kiban" class="imgKiban logo2" style="width: 60%;">
      </a>
    </div>
  </div>
  </section>
  <!--Section mobile-->
  <section class="clientsMobile">
      <h1>{{ 'trust.clients' | translate }}</h1>
      <div class="row">
        <div class="column c1">
          <a href="https://proyecto-terra.com/" target="_blank">
            <img src="assets/terra.png" alt="Proyecto Terra" class="imgTerra logo1">
          </a>
        </div>
        <div class="column c1">
          <a href="https://bedu.org/" target="_blank">
            <img src="assets/bedu.png" alt="BEDU" class="imgBedu logo1">
          </a>
        </div>
        <div class="column c1">
          <a href="https://habiqo.mx/vende/" target="_blank">
            <img src="assets/habiqo.png" alt="Habiqo" class="imgHabiqo logo1">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="column c1">
          <a href="https://smartlending.mx/" target="_blank">
            <img src="assets/smart-lending.png" alt="Smart lending" class="imgSmart logo1">
          </a>
        </div>
        <div class="column c1">
          <a href="https://invex.com/" target="_blank">
            <img src="assets/invex.png" alt="INVEX" class="imgInvex logo1">
          </a>
        </div>
        <div class="column c1">
          <a href="http://ch-m.mx/inicio" target="_blank">
            <img src="assets/chavez-vargas.png" alt="Chavez Vargas Minutti" class="imgChavez logo1">
          </a>
        </div>
      </div>
      <h1>{{ 'trust.allies' | translate }}</h1>
      <div class="row">
        <div class="column c2">
          <a href="http://chmcompliance.com/inicio" target="_blank">
            <img src="assets/chm.png" alt="CHM Compliance" class="imgChm logo2">
          </a>
        </div>
        <div class="column c2">
          <a href="http://futureil.com/" target="_blank">
            <img src="assets/fil.png" alt="FIL" class="imgFil logo2">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="column c2">
          <a href="https://www.scotiabank.com.mx/" target="_blank">
            <img src="assets/scotiabank.png" alt="Scotiabank" class="imgScotiabank logo2">
          </a>
        </div>
        <div class="column c2">
          <a href="https://www.kiban.mx/" target="_blank">
            <img src="assets/kiban.png" alt="Kiban" class="imgKiban logo2">
          </a>
        </div>
      </div>
    </section>
</section>
