.trust {
    overflow-x: hidden;
    text-align: center;
    margin: 0%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #263069;
}

.clients {
    max-width: 1000px;
    margin: 2em auto;
}
.allies {
  margin-top: 2em;
}

.row {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.column {
    padding-left: 1em;
    padding-right: 1em;
    width: 22%;
}
.titleClients {
    margin-bottom: 2em;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #263069;
}

.logo1 {
    padding-top: 1em;
    padding-bottom: 2em;
}

.logo2 {
    padding-top: 2em;
    padding-bottom: 2em;
}
.clientsMobile {
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .clients {
        display: none;
    }
    .clientsMobile{
        padding-top: .5em;
        margin-bottom: 1.2em;
        display: block;
    }
    .row {
        padding: 0;
    }
    .c1 {
        padding-left: 1em;
        padding-right: 1em;
        width: 33%;
    }
    .c2 {
        padding-left: 1.5em;
        padding-right: 1.5em;
        width: 35%;
    }
    img {
        padding: 0;
        width: 100%;
    }
    .imgHabiqo {
        width: 30% !important;
    }
    .imgBedu {
      width: 60%;
    }
    .imgChm {
      width: 50% !important;
    }
    .imgKiban, .imgFil {
      width: 70%;
    }
    .logo1 {
        padding-top: .5em;
        padding-bottom: 1em;
    }

    .logo2 {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    h1 {
        padding-top: .5em;
        padding-bottom: 0%;
        margin: 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

@media only screen and (max-width: 767px){
  img {
    max-width: 120px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
