<section class="description">
  <section class="flexbox-container">
    <div class="divs">
      <h2>¡Con maat.ai genera, protege, administra y comparte tu identidad digital de forma sencilla y segura!</h2>
      <br>
      <p>Proteger la identidad digital es de vital importancia, sobre todo en una época como la nuestra, en la que
        cada paso que damos en internet deja un registro que nos vuelve vulnerables a robos y fraudes.</p>
      <p>Por eso nació maat.ai, una plataforma que utiliza blockchain, criptografía avanzada y servidores de alta
        seguridad para que las personas puedan identificarse y administrar sus información con confianza y seguridad.</p>
    </div>
    <div class="divs">
      <h2>¿Cómo funciona maat.ai?</h2>
      <br>
      <p>En la app móvil de maat.ai (disponible para iOS y Android) es posible guardar y encriptar documentos de identidad personal, en nubes protegidas con máxima seguridad. De esta manera, es posible compartirlos de forma fácil y rápida con quien el usuario decida. </p>
      <p>La plataforma de maat.ai protege la identidad de sus usuarios a través de tres elementos:</p>
      <ul>
        <li><b>Con algo que sólo tú sabes: </b>tu contraseña.</li>
        <li><b>Con algo que sólo tú tienes: </b>tu celular.</li>
        <li><b>Con algo que sólo tú eres: </b>tu rostro y sus registros biométricos.</li>
      </ul>
    </div>
  </section>
</section>
