<section class="description">
  <section class="flexbox-container">
    <div class="divs">
      <h2>{{ 'description.titleDescription' | translate }}</h2>
      <br>
      <p>{{ 'description.protect' | translate }}</p>
      <p>{{ 'description.bornMaat' | translate }}</p>
    </div>
    <div class="divs">
      <h2>{{ 'description.subtitle' | translate }}</h2>
      <br>
      <p>{{ 'description.shareMaat' | translate }}</p>
      <p>{{ 'description.elements' | translate }}</p>
      <ul>
        <li><b>{{ 'description.youNow' | translate }} </b>{{ 'description.yourPass' | translate }}</li>
        <li><b>{{ 'description.youHave' | translate }} </b>{{ 'description.yourPhone' | translate }}</li>
        <li><b>{{ 'description.youAre' | translate }} </b>{{ 'description.yourFace' | translate }}</li>
      </ul>
    </div>
  </section>
</section>
