<section class="card">
  <section class="containerCard">
    <div class="flexbox-container">
      <div>
        <h1>{{ 'card.titlePeople' | translate }}</h1>
        <div class="textCard">
          <p class="txtPeople">{{ 'card.textPeople' | translate }}</p>
        </div>
        <img src="assets/persona.png" alt="Personas" style="margin-top: 2em;"><br>
        <a routerLink="/link">
          <button class="btnDownload">{{ 'card.btnDownload' | translate }}</button>
        </a>
      </div>
      <div>
        <h1>{{ 'card.titleTeams' | translate }}</h1>
        <p>{{ 'card.textTeams' | translate }}</p>
        <img src="assets/equipos.png" alt="Equipos" style="margin-top: 1em;"><br>
        <a routerLink="/empresas">
          <button class="btnSolutions">{{ 'card.btnTeams' | translate }}</button>
        </a>
      </div>
    </div>
  </section>
    <section class="backCard">
      <div class="row">
        <h1>{{ 'card.titlePeople' | translate }}</h1>
      </div>
      <p>{{ 'card.textPeople' | translate }}</p>
      <button class="btnDownload" (click)="detectMobile()">{{ 'card.btnDownload' | translate }}</button>
      <br><br>
      <div class="row">
        <h1>{{ 'card.titleTeams' | translate }}</h1>
      </div>
      <p>{{ 'card.textTeams' | translate }}</p>
      <a routerLink="/empresas">
        <button class="btnSolutions">{{ 'card.btnTeams' | translate }}</button>
      </a>
  </section>
</section>
