<section class="card">
  <section class="containerCard">
    <div class="flexbox-container">
      <div>
        <h1>{{ 'card.titlePeople' | translate }}</h1>
        <p>{{ 'card.textPeople' | translate }}</p>
        <img src="assets/persona.png" alt="Personas" style="margin-top: 2em;"><br>
        <button class="btnDownload">{{ 'card.btnDownload' | translate }}</button>
      </div>
      <div>
        <h1>{{ 'card.titleTeams' | translate }}</h1>
        <p>{{ 'card.textTeams' | translate }}</p>
        <img src="assets/equipos.png" alt="Equipos" style="margin-top: 1em;"><br>
        <a routerLink="/welcome">
          <button class="btnSolutions">{{ 'card.btnTeams' | translate }}</button>
        </a>
      </div>
    </div>
  </section>
    <section class="backCard">
      <div class="row">
        <h1 style="margin-right: 1em;">{{ 'card.titlePeople' | translate }}</h1><img src="assets/persona.png" alt="Personas" class="imgPerson">
      </div>
      <p>{{ 'card.textPeople' | translate }}</p>
      <button class="btnDownload">{{ 'card.btnDownload' | translate }}</button>
      <div class="row" style="margin-top: 1em;">
          <img src="assets/equipos.png" alt="Equipos" class="imgTeam" style="margin-right: 1em;"><h1>{{ 'card.titleTeams' | translate }}</h1> 
      </div>
      <p>{{ 'card.textTeams' | translate }}</p>
      <a routerLink="/welcome">
        <button class="btnSolutions">{{ 'card.btnTeams' | translate }}</button>
      </a>
  </section>
</section>
